<div class="calendar">
  <div class="calendar-header">
    <span>{{ currentYear }} - {{ getMonthName(currentMonth) }}</span>
    <div class="calendar_arrows">
      <button (click)="previousMonth()">&#8249;</button>
      <button (click)="nextMonth()">&#8250;</button>
    </div>
  </div>
  <div class="weekdays">
    <span *ngFor="let day of weekDays">{{ day }}</span>
  </div>
  <div class="days">
    <div  class="day day_absent" *ngFor="let day of calendar" [ngClass]="{
        present: day.status === 'present',
        absent: day.status === 'absent'
      }">
      <p>
        {{ day.date ? day.date.split("-")[2] : "" }}
      </p>
      <span>
        {{day.status === "" ? 'Absent' : 'Present'}}
      </span>
    </div>
  </div>
</div>