.calendar {
  display: flex;
  flex-direction: column;
  /* max-width: 350px; */
  margin: auto;
  font-family: Arial, sans-serif;
  /* border: 1px solid #ddd; */
}

.calendar_arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.calendar_arrows button {
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-color: #f4f4f4;
  border-bottom: 1px solid #ddd; */
  font-weight: bold;
}

.calendar-header span {
  font-size: 20px;
}

.calendar-header button,
.calendar_arrows button {
  border: none;
  /* font-size: 1.5em; */
  cursor: pointer;
  background: #f4f4f4;
  width: 30px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 31px;
  font-size: 23px;
}

.weekdays {
  display: flex;
  justify-content: space-around;
  /* background-color: #f4f4f4; */
  padding: 5px;
  font-weight: bold;
}

.weekdays span {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.day {
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  min-height: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-top: 2px solid #0c9d0c;
  color: #0c9d0c;
  border-radius: 5px;
  background-color: rgb(221 255 221 / 45%);
}

.day_absent {
  background-color: rgb(252 196 212 / 20%) !important;
  color: #fc7962;
  border-top: 2px solid #ffb1a4;
}

.day span {
  font-size: 12px;
}

.day p {
  color: #000;
  margin-bottom: 0px;
}

.day.present {
  background-color: green;
  color: white;
}

.day.absent {
  background-color: red;
  color: white;
}
