<div class="calendar" style="margin-right: 40px;">
  <div class="calendar-header">
    <span>{{ currentYear }} - {{ getMonthName(currentMonth) }}</span>
    <div class="calendar_arrows">
      <button (click)="previousMonth()">&#8249;</button>
      <button (click)="nextMonth()">&#8250;</button>
    </div>
  </div>
  <div class="weekdays">
    <span *ngFor="let day of weekDays">{{ day }}</span>
  </div>
  <div class="days">
    @for(day of calendar; track day.date){
    <div
      *ngIf="day.status === 'present'"
      class="day"
      [ngClass]="{
        present: day.status === 'present'
      }"
    >
      <p>
        {{ day.date ? day.date.split("-")[2] : "" }}
      </p>
      <span>
        {{ "Present" }}
      </span>
    </div>
    <div
      *ngIf="day.status === 'absent'"
      class="day day_absent"
      [ngClass]="{
        absent: day.status === 'absent'
      }"
    >
      <p>
        {{ day.date ? day.date.split("-")[2] : "" }}
      </p>
      <span style="color: rgb(218, 41, 41);">
        {{ "Absent" }}
      </span>
    </div>

    <div *ngIf="day.status === ''" class="day no_day">
      <p>
        {{ day.date ? day.date.split("-")[2] : "" }}
      </p>
      <span>
        {{ "Text" }}
      </span>
    </div>
    }
  </div>
</div>
