.calendar {
  display: flex;
  flex-direction: column;
  /* max-width: 350px; */
  margin: auto;
  font-family: Arial, sans-serif;
  /* border: 1px solid #ddd; */
}

.calendar_arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.calendar_arrows button {
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-color: #f4f4f4;
  border-bottom: 1px solid #ddd; */
  font-weight: bold;
}

.calendar-header span {
  font-size: 20px;
}

.calendar-header button,
.calendar_arrows button {
  border: none;
  /* font-size: 1.5em; */
  cursor: pointer;
  background: #f4f4f4;
  width: 30px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 31px;
  font-size: 23px;
}

.weekdays {
  display: flex;
  justify-content: space-around;
  border: 1px solid #ddd;
  border-bottom: 1px;
  background: #a79e7b;
  color: #fff;
  padding: 8px;
  font-weight: bold;
}

.weekdays span {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0px;
}

.day {
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  min-height: 82px;
  color: #0c9d0c;
  border-radius: 0px;
  background-color: rgb(221 255 221 / 45%);

  border-collapse: collapse;
  border-spacing: 0px;
  font-size: 1em;
  border-color: #e6e6e8;
  border-bottom: 0 !important;
  border: 1px solid #ddd;
}

.day_absent {
  background-color: rgb(252 196 212 / 20%) !important;
  color: #fc7962;
  border-top: 2px solid #ffb1a4;
}

.no_day {
  background-color: aliceblue !important;
  color: aliceblue;
  border-top: 2px solid #ddd;
}

.day span {
  font-size: 12px;
}

.day p {
  color: #000;
  margin-bottom: 0px;
}

.day.present {
  background-color: #89eb89;
  color: rgb(19, 76, 9);
}

.day.absent {
  background-color: red;
  color: white;
}
