<div class="container">
  <div class="heading">
    <img class="logo-img" src="assets/images/logo_icon.png" alt="logo" />
    <span class="title">"Welcome to NJveerasmissioneducation Pvt. Ltd."</span>
  </div>
  <div>
    <span class="title-1"
      >To create a new account and please an order, please fill out the details
      below."</span
    >
  </div>

  <div class="row row-gap-5 justify-content-between mt-5 mb-3">
    <div class="form col-12 col-lg-6 col-xxl-5">
      <form [formGroup]="regForm">
        <h5>User Registration</h5>
        <div class="mt-4">
          <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="fullName" />
            <mat-error
              *ngIf="
                getControl('fullName').invalid && getControl('fullName').touched
              "
            >
              <small *ngIf="getControl('fullName').hasError('required')"
                >Name is required.</small
              >
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mt-2">
          <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phone" [maxLength]="10" />
            <mat-error
              *ngIf="getControl('phone').invalid && getControl('phone').touched"
            >
              <small *ngIf="getControl('phone').hasError('required')"
                >Phone is required.</small
              >
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mt-2">
          <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>Whatsapp Number</mat-label>
            <input matInput formControlName="whatsapp_no" [maxLength]="10" />
          </mat-form-field>
        </div>
        <div class="mt-2">
          <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>E-mail address</mat-label>
            <input matInput formControlName="mailId" />
            <mat-error
              *ngIf="
                getControl('mailId').invalid && getControl('mailId').touched
              "
            >
              <small *ngIf="getControl('mailId').hasError('required')"
                >Email is required.</small
              >
              <small *ngIf="getControl('mailId').hasError('mailId')"
                >Enter a valid email.</small
              >
            </mat-error>
          </mat-form-field>
        </div>

        <div class="mt-2">
          <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country" />
          </mat-form-field>
        </div>
        @if(isIndia){
        <div class="mt-2">
          <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>State</mat-label>
            <input matInput formControlName="state" />
          </mat-form-field>
        </div>

        <div class="mt-2">
          <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>City/Town/Village</mat-label>
            <input matInput formControlName="city" />
          </mat-form-field>
        </div>

        <div class="mt-2">
          <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>Zip/Pincode</mat-label>
            <input matInput formControlName="pincode" />
          </mat-form-field>
        </div>
        }

        <div class="mt-2">
          <input
            type="checkbox"
            id="isCompany"
            formControlName="isCompany"
            style="width: 20px"
          />
          <label for="isCompany">Add Company details(if have any)</label>
        </div>

        @if(isCompany){
        <div class="mt-2">
          <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>Company Name</mat-label>
            <input matInput formControlName="companyName" />
          </mat-form-field>
        </div>
        <div class="mt-2">
          <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>GST Number</mat-label>
            <input matInput formControlName="gst" />
          </mat-form-field>
        </div>
        }
        <div class="mt-2">
          <span
            >* Our company will never call you, the required number to share
            only information.</span
          >
        </div>
      </form>
    </div>

    <div class="subscription col-12 col-lg-6 col-xxl-5">
      <div class="order-wrapper">
        <h2>Order Summary</h2>
        <p>Please take a moment to review your plan</p>
        <!-- @let s = selectedPlanNew.duration > 1?'s':''; -->
        <p>Your Selected {{selectedPlanNew.duration}}
          {{selectedPlanNew.period}}{{selectedPlanNew.duration > 1?'s':''}} Plan</p>
        <!-- <div class="row">
          <div class="order-key col-6">
            <div class="select-plan">
              <span
                >({{ plan?.locationInfo?.currency_symbol }}
                {{ plan?.locationPrice?.month_fee }} × {{ months }}months)</span
              >
            </div>

            <div class="discount" *ngIf="plan?.isDiscount">
              <span>Flat Discount</span>17%
            </div>
            <div>GST 18%</div>
            <div>Payment processing charge</div>
          </div>

          <div class="order-value col-6">
            <div>
              <span>{{ plan?.locationInfo?.currency_symbol }} 1791</span>
            </div>

            <div *ngIf="plan?.isDiscount">
              <span class="minus"></span
              ><span>{{ plan?.locationInfo?.currency_symbol }} 347</span>
            </div>

            <span
              >{{ plan?.locationInfo?.currency_symbol }} {{ this.tax }}</span
            >
            <span
              >{{ plan?.locationInfo?.currency_symbol }}
              {{ this.processingFee }}</span
            >

            <div class="total">
              Total
              <span
                >{{ plan?.locationInfo?.currency_symbol }}
                {{ this.planTotal }}/-</span
              >
            </div>

            <button
              class="btn btn-primary continue-button"
              (click)="onContinueToPayment()"
            >
              Continue To Payment
            </button>
          </div>
        </div> -->

        <table class="plan_table">
          <tbody>
            <tr>
              <td>
                <div class="select-plan">
                  @let s = selectedPlanNew.duration > 1?'s':'';
                  <span>
                    {{selectedPlanNew['name']}} 
                  </span>
                </div>
              </td>
              <td>
                <div class="select-plan">
                  <span
                    >{{ selectedPlanNew.currencySymbol }}
                    {{ this.planCost | number:'1.2-2' }}</span
                  >
                </div>
              </td>
            </tr>

            <tr *ngIf="plan?.isDiscount">
              <td *ngIf="plan?.isDiscount">
                <div class="discount"><span>Flat Discount</span>17%</div>
              </td>
              <td *ngIf="plan?.isDiscount">
                <span class="minus"></span
                ><span>{{ plan?.locationInfo?.currency_symbol }} 347</span>
              </td>
            </tr>

            <tr>
              <td>
                <div>IGST {{selectedPlanNew.gstPercent}}%</div>
              </td>
              <td>
                <div class="select-plan">
                  <span
                    >{{selectedPlanNew.currencySymbol}}
                    {{ this.tax | number:'1.2-2' }}</span
                  >
                </div>
              </td>
            </tr>

            <!-- <tr>
              <td>
                <div>Payment processing charge</div>
              </td>
              <td>
                <div class="select-plan">
                  <span
                    >{{selectedPlan.currencySymbol}}
                    {{ this.processingFee | number:'1.2-2' }}</span
                  >
                </div>
              </td>
            </tr> -->

            <tr>
              <td>
                <div>Total</div>
              </td>
              <td>
                <div class="select-plan">
                  <span
                    >{{selectedPlanNew.currencySymbol}}
                    {{ this.planTotal | number:'1.2-2' }}</span
                  >
                </div>
              </td>
            </tr>

            <tr>
              <td colspan="2" class="text-end">
                <button
                  class="btn btn-primary continue-button"
                  (click)="onContinueToPayment()"
                  style="border-radius: 30px"
                >
                  Confirm Payment
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <h5 class="text-start text-primary fw-600">Order Summary</h5>
      <div class="mx-auto summary-box mt-3">
        <div class="d-flex justify-content-between">
          <div class="">
            <div>Monthly Fee Plan</div>
            <div style="font-size: small" class="fw-600 text-secondary">
              {{ plan?.monthsno }} Month X 830
            </div>
          </div>
          <span class="text-secondary"
            >{{ plan?.locationInfo?.currency_symbol }}
            {{ planCrossAmount }}</span
          >
        </div>
        <hr />
        <div class="d-flex justify-content-between">
          <span>GST 18%</span>
          <span class="text-secondary"
            >{{ plan?.locationInfo?.currency_symbol }} {{ gstAmount }}</span
          >
        </div>
        <hr />
        <div class="d-flex justify-content-between">
          <span>Total (INR)</span>
          <span class="text-primary fw-bold" style="font-size: large">
            {{ plan?.locationInfo?.currency_symbol }} {{ totalAmount }}</span
          >
        </div>
        <hr />
        <div>
          <img
            class=""
            src="assets/images/card.png"
            alt="logo"
            style="width: 300px"
          />
        </div>
        <hr />
        <div class="d-flex gap-2 mt-3">
          <div>
            <img
              class=""
              src="assets/images/ssl-badge.png"
              alt="logo"
              style="width: 45px"
            />
          </div>
          <div>
            <div style="font-size: large; font-weight: 600">
              SSL Secure Payment
            </div>
            <div style="font-size: small" class="fw-600 text-secondary">
              Your encryption is protected by 256-bit SSL encryption
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-3">
        <button class="btn btn-primary text-white" style="width: 400px">
          Continue to checkout
        </button>
      </div> -->
    </div>
  </div>
</div>
