<div class="container">
  <div class="heading">
    <img class="logo-img" src="assets/images/logo_icon.png" alt="logo" />
    <span class="title">"Welcome to NJveerasmissioneducation Pvt. Ltd."</span>
  </div>
  <div>
    <span class="title-1"
      >To create a new account and please an order, please fill out the details
      below."</span
    >
  </div>

  <div class="row row-gap-5 justify-content-between mt-5 mb-3">
    <div class="form col-12 col-lg-6 col-xxl-5">
      <form [formGroup]="regForm">
        <h5>User Registration</h5>
        <div class="mt-4">
          <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="fullName" />
          </mat-form-field>
        </div>
        <div class="mt-2">
          <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNo" />
          </mat-form-field>
        </div>
        <div class="mt-2">
          <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>Whatsapp Number</mat-label>
            <input matInput formControlName="whatsappNo" />
          </mat-form-field>
        </div>
        <div class="mt-2">
          <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>E-mail address</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
        </div>

        <div class="mt-2">
          <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country" />
          </mat-form-field>
        </div>
        @if(isIndia){
        <div class="mt-2">
          <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>State</mat-label>
            <input matInput formControlName="state" />
          </mat-form-field>
        </div>

        <div class="mt-2">
          <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>City/Town</mat-label>
            <input matInput formControlName="city" />
          </mat-form-field>
        </div>

        <div class="mt-2">
          <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>Zip/Pincode</mat-label>
            <input matInput formControlName="zipcode" />
          </mat-form-field>
        </div>
        }

        <div class="mt-2">
          <input
            type="checkbox"
            id="isCompanyAdd"
            formControlName="isCompanyAdd"
            style="width: 20px"
          />
          <label for="isCompanyAdd">Add Company details(if have any)</label>
        </div>

        @if(isCompanyAdd){
        <div class="mt-2">
          <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>Company Name</mat-label>
            <input matInput formControlName="companyName" />
          </mat-form-field>
        </div>
        <div class="mt-2">
          <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>GST Number</mat-label>
            <input matInput formControlName="gst" />
          </mat-form-field>
        </div>
        }
        <div class="mt-2">
          <span
            >* Our company will never call you, the required number to share
            only information.</span
          >
        </div>
      </form>
    </div>

    <div class="subscription col-12 col-lg-6 col-xxl-5">
      <div class="order-wrapper">
        <h2>Order Summary</h2>
        <p>Please take a moment to review your plan</p>
        <div class="row">
          <div class="order-key col-6">
            <div class="select-plan">
              <div>
                <p>Select Plan</p>
                <input type="radio" id="isThreeMonth" style="width: 20px" />
                <label for="isThreeMonth"><span>3 </span>Month Plan</label>
              </div>
              <span>(₹599 × 3)</span>
            </div>

            <div class="discount"><span>Flat Discount</span>17%</div>
            <div>GST 18%</div>
            <div>Payment processing charge</div>
          </div>

          <div class="order-value col-6">
            <div>
              <div>Validity (3 month)</div>
              <span>₹1791</span>
            </div>

            <div><span class="minus">(-) </span><span>₹347</span></div>

            <span>(+) ₹261</span>
            <span>(+) ₹33</span>

            <div class="total">Total <span>1,744/-</span></div>

            <button
              class="btn btn-primary continue-button"
              (click)="onContinueToPayment()"
            >
              Continue To Payment
            </button>
          </div>
        </div>
      </div>
      <!-- <h5 class="text-start text-primary fw-600">Order Summary</h5>
      <div class="mx-auto summary-box mt-3">
        <div class="d-flex justify-content-between">
          <div class="">
            <div>Monthly Fee Plan</div>
            <div style="font-size: small" class="fw-600 text-secondary">
              {{ plan?.monthsno }} Month X 830
            </div>
          </div>
          <span class="text-secondary"
            >{{ plan?.locationInfo?.currency_symbol }}
            {{ planCrossAmount }}</span
          >
        </div>
        <hr />
        <div class="d-flex justify-content-between">
          <span>GST 18%</span>
          <span class="text-secondary"
            >{{ plan?.locationInfo?.currency_symbol }} {{ gstAmount }}</span
          >
        </div>
        <hr />
        <div class="d-flex justify-content-between">
          <span>Total (INR)</span>
          <span class="text-primary fw-bold" style="font-size: large">
            {{ plan?.locationInfo?.currency_symbol }} {{ totalAmount }}</span
          >
        </div>
        <hr />
        <div>
          <img
            class=""
            src="assets/images/card.png"
            alt="logo"
            style="width: 300px"
          />
        </div>
        <hr />
        <div class="d-flex gap-2 mt-3">
          <div>
            <img
              class=""
              src="assets/images/ssl-badge.png"
              alt="logo"
              style="width: 45px"
            />
          </div>
          <div>
            <div style="font-size: large; font-weight: 600">
              SSL Secure Payment
            </div>
            <div style="font-size: small" class="fw-600 text-secondary">
              Your encryption is protected by 256-bit SSL encryption
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-3">
        <button class="btn btn-primary text-white" style="width: 400px">
          Continue to checkout
        </button>
      </div> -->
    </div>
  </div>
</div>
