<div class="container-fluid p-0 m-0">
  <div class="top-banner">
    <div class="row gy-3">
      <div class="col-6 order-1 col-md-2 order-md-1">
        <div class="arrow-left cursor-pointer" routerLink="/dashboard">
          <fa-icon [icon]="faArrowLeft" class="cursor-pointer"></fa-icon>
        </div>
        <div class="fw-bold d-none d-md-block cursor-pointer">back</div>
      </div>

      <div
        class="sec2 col-12 col-md-8 order-3 order-md-2 d-flex justify-content-center"
      >
        <span>
          <span>Speaking Room</span>
        </span>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class="content main_content">
    <!-- sidebar group -->
    <div class="sidebar-group">
      <!-- Calls -->
      <div class="tab-content">
        <div class="tab-pane fade active show" id="call-menu">
          <ng-scrollbar>
            <div class="sidebar-content active slimscroll">
              <div class="slimscroll">
                <div class="chat-search-header">
                  <div
                    class="header-title d-flex align-items-center justify-content-between"
                  >
                    <h4 class="mb-3">Calls</h4>
                    <div class="d-flex align-items-center mb-3">
                      <a
                        href="javascript:void(0);"
                        class="call-icon d-flex justify-content-center align-items-center text-white bg-primary rounded-circle me-2"
                        data-bs-toggle="modal"
                        data-bs-target="#new-call"
                      >
                        <i class="ti ti-phone-plus fs-16"></i>
                      </a>
                      <div class="dropdown">
                        <a
                          href="javascript:void(0);"
                          data-bs-toggle="dropdown"
                          class="fs-16 text-default"
                        >
                          <i class="ti ti-dots-vertical"></i>
                        </a>
                      </div>
                    </div>
                  </div>

                  <!-- Chat Search -->
                  <div class="search-wrap">
                    <form action="#">
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Search"
                        />
                        <span class="input-group-text"
                          ><i class="ti ti-search"></i
                        ></span>
                      </div>
                    </form>
                  </div>
                  <!-- /Chat Search -->
                </div>

                <div class="sidebar-body chat-body" id="chatsidebar1">
                  <!-- Left Chat Title -->
                  <div class="d-flex align-items-center mb-3">
                    <h5 class="chat-title2 me-2">Online Users</h5>
                    <div class="dropdown">
                      <a
                        href="javascript:void(0);"
                        class="text-default fs-16"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        ><i class="ti ti-chevron-down"></i
                      ></a>
                      <ul
                        class="dropdown-menu dropdown-menu-end p-3"
                        id="innerTab1"
                        role="tablist"
                      >
                        <li role="presentation">
                          <a
                            class="dropdown-item active"
                            id="all-calls-tab"
                            data-bs-toggle="tab"
                            href="#all-calls"
                            role="tab"
                            aria-controls="all-calls"
                            aria-selected="true"
                            onclick="changeChat2('Online Users')"
                            >Online Users</a
                          >
                        </li>
                        <li role="presentation">
                          <a
                            class="dropdown-item"
                            id="audio-calls-tab"
                            data-bs-toggle="tab"
                            href="#audio-calls"
                            role="tab"
                            aria-controls="audio-calls"
                            aria-selected="false"
                            onclick="changeChat2('Audio Calls')"
                            >Audio Calls</a
                          >
                        </li>
                        <li role="presentation">
                          <a
                            class="dropdown-item"
                            id="video-calls-tab"
                            data-bs-toggle="tab"
                            href="#video-calls"
                            role="tab"
                            aria-controls="video-calls"
                            aria-selected="false"
                            onclick="changeChat2('Video Calls')"
                            >Video Calls</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- /Left Chat Title -->
                  <div class="tab-content" id="callTabContent">
                    <div
                      class="tab-pane fade show active"
                      id="all-calls"
                      role="tabpanel"
                      aria-labelledby="all-calls-tab"
                    >
                      <div class="chat-users-wrap">
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div class="avatar avatar-lg online me-2">
                              <img
                                src="assets/img/profiles/avatar-06.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6>Tamizh</h6>
                                <p>
                                  <i
                                    class="ti ti-phone-outgoing text-purple me-2"
                                  ></i
                                  >20 Min Ago
                                </p>
                              </div>
                              <div class="chat-user-time">
                                <span class="time">08m 12s</span>
                                <div>
                                  <i
                                    class="ti ti-phone-call text-pink fs-1"
                                  ></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div class="avatar avatar-lg online me-2">
                              <img
                                src="assets/img/profiles/avatar-01.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6 class="">Raja Raman</h6>
                                <p class="fs-14">
                                  <i
                                    class="ti ti-phone-incoming me-2 fs-14 text-success"
                                  ></i>
                                  10 Min Ago
                                </p>
                              </div>
                              <div class="chat-user">
                                <span class="mb-2">01m 12s</span>
                                <div class="d-flex justify-content-end">
                                  <i
                                    class="ti ti-phone-call text-pink fs-1"
                                  ></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div class="avatar avatar-lg online me-2">
                              <img
                                src="assets/img/profiles/avatar-05.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6>Thennarasu</h6>
                                <p>
                                  <i
                                    class="ti ti-video-off text-danger me-2"
                                  ></i
                                  >30 Min Ago
                                </p>
                              </div>
                              <div class="chat-user-time">
                                <span class="time">04m 12s</span>
                                <div>
                                  <i class="ti ti-video text-pink fs-1"></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div class="avatar avatar-lg online me-2">
                              <img
                                src="assets/img/profiles/avatar-03.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6>Prakash</h6>
                                <p>
                                  <i
                                    class="ti ti-phone-outgoing text-purple me-2"
                                  ></i
                                  >40 Min Ago
                                </p>
                              </div>
                              <div class="chat-user-time">
                                <span class="time">18m 12s</span>
                                <div>
                                  <i
                                    class="ti ti-phone-call text-pink fs-1"
                                  ></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div class="avatar avatar-lg online me-2">
                              <img
                                src="assets/img/profiles/avatar-04.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6>Logesh</h6>
                                <p>
                                  <i class="ti ti-video text-success me-2"></i
                                  >15 Min Ago
                                </p>
                              </div>
                              <div class="chat-user-time">
                                <span class="time">08m 12s</span>
                                <div>
                                  <i class="ti ti-video text-pink fs-1"></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div class="avatar avatar-lg online me-2">
                              <img
                                src="assets/img/profiles/avatar-02.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6>Manikandan</h6>
                                <p>
                                  <i
                                    class="ti ti-phone-off text-danger me-2"
                                  ></i
                                  >5 Min Ago
                                </p>
                              </div>
                              <div class="chat-user-time">
                                <span class="time">04m 12s</span>
                                <div>
                                  <i
                                    class="ti ti-phone-call text-pink fs-1"
                                  ></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="audio-calls"
                      role="tabpanel"
                      aria-labelledby="audio-calls-tab"
                    >
                      <div class="chat-users-wrap">
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div class="avatar avatar-lg online me-2">
                              <img
                                src="assets/img/profiles/avatar-06.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6>Tamizharasan</h6>
                                <p>
                                  <i
                                    class="ti ti-phone-outgoing text-purple me-2"
                                  ></i
                                  >20 Min Ago
                                </p>
                              </div>
                              <div class="chat-user-time">
                                <span class="time">08m 12s</span>
                                <div>
                                  <i
                                    class="ti ti-phone-call text-pink fs-1"
                                  ></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div class="avatar avatar-lg online me-2">
                              <img
                                src="assets/img/profiles/avatar-01.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6 class="">Mark Villiams</h6>
                                <p class="fs-14">
                                  <i
                                    class="ti ti-phone-incoming me-2 fs-14 text-success"
                                  ></i>
                                  20 Min Ago
                                </p>
                              </div>
                              <div class="chat-user">
                                <span class="mb-2">08m 12s</span>
                                <div class="d-flex justify-content-end">
                                  <i
                                    class="ti ti-phone-call text-pink fs-1"
                                  ></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div class="avatar avatar-lg online me-2">
                              <img
                                src="assets/img/profiles/avatar-05.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6>Tamizh</h6>
                                <p class="fs-14">
                                  <i
                                    class="ti ti-phone-incoming me-2 fs-14 text-success"
                                  ></i>
                                  20 Min Ago
                                </p>
                              </div>
                              <div class="chat-user">
                                <span class="mb-2">08m 12s</span>
                                <div class="d-flex justify-content-end">
                                  <i
                                    class="ti ti-phone-call text-pink fs-1"
                                  ></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div class="avatar avatar-lg online me-2">
                              <img
                                src="assets/img/profiles/avatar-03.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6>Prakash</h6>
                                <p>
                                  <i
                                    class="ti ti-phone-outgoing text-purple me-2"
                                  ></i
                                  >20 Min Ago
                                </p>
                              </div>
                              <div class="chat-user-time">
                                <span class="time">08m 12s</span>
                                <div>
                                  <i
                                    class="ti ti-phone-call text-pink fs-1"
                                  ></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div class="avatar avatar-lg online me-2">
                              <img
                                src="assets/img/profiles/avatar-04.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6>Thennarasu</h6>
                                <p>
                                  <i
                                    class="ti ti-phone-off text-danger me-2"
                                  ></i
                                  >20 Min Ago
                                </p>
                              </div>
                              <div class="chat-user-time">
                                <span class="time">08m 12s</span>
                                <div>
                                  <i
                                    class="ti ti-phone-call text-pink fs-1"
                                  ></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div class="avatar avatar-lg online me-2">
                              <img
                                src="assets/img/profiles/avatar-02.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6>Raja Raman</h6>
                                <p>
                                  <i
                                    class="ti ti-phone-off text-danger me-2"
                                  ></i
                                  >20 Min Ago
                                </p>
                              </div>
                              <div class="chat-user-time">
                                <span class="time">08m 12s</span>
                                <div>
                                  <i
                                    class="ti ti-phone-call text-pink fs-1"
                                  ></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div
                              class="avatar avatar-lg bg-purple avatar-rounded me-2"
                            >
                              <span class="avatar-title fs-14 fw-medium"
                                >AG</span
                              >
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6>Amfr_boys_Group</h6>
                                <p class="fs-14">
                                  <i
                                    class="ti ti-phone-incoming me-2 fs-14 text-success"
                                  ></i>
                                  20 Min Ago
                                </p>
                              </div>
                              <div class="chat-user">
                                <span class="mb-2">08m 12s</span>
                                <div class="d-flex justify-content-end">
                                  <i
                                    class="ti ti-phone-call text-pink fs-1"
                                  ></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div class="avatar avatar-lg online me-2">
                              <img
                                src="assets/img/profiles/avatar-10.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6>Wilbur Martinez</h6>
                                <p>
                                  <i
                                    class="ti ti-phone-off text-danger me-2"
                                  ></i
                                  >20 Min Ago
                                </p>
                              </div>
                              <div class="chat-user-time">
                                <span class="time">08m 12s</span>
                                <div>
                                  <i
                                    class="ti ti-phone-call text-pink fs-1"
                                  ></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="video-calls"
                      role="tabpanel"
                      aria-labelledby="video-calls-tab"
                    >
                      <div class="chat-users-wrap">
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div class="avatar avatar-lg online me-2">
                              <img
                                src="assets/img/profiles/avatar-06.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6>Tamizharasan</h6>
                                <p>
                                  <i class="ti ti-video text-success me-2"></i
                                  >20 Min Ago
                                </p>
                              </div>
                              <div class="chat-user-time">
                                <span class="time">08m 12s</span>
                                <div>
                                  <i class="ti ti-video text-pink fs-1"></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div class="avatar avatar-lg online me-2">
                              <img
                                src="assets/img/profiles/avatar-01.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6 class="">Mark Villiams</h6>
                                <p>
                                  <i
                                    class="ti ti-video-off text-danger me-2"
                                  ></i
                                  >20 Min Ago
                                </p>
                              </div>
                              <div class="chat-user-time">
                                <span class="time">08m 12s</span>
                                <div>
                                  <i class="ti ti-video text-pink fs-1"></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div class="avatar avatar-lg online me-2">
                              <img
                                src="assets/img/profiles/avatar-05.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6>Tamizh</h6>
                                <p>
                                  <i
                                    class="ti ti-video-off text-danger me-2"
                                  ></i
                                  >20 Min Ago
                                </p>
                              </div>
                              <div class="chat-user-time">
                                <span class="time">08m 12s</span>
                                <div>
                                  <i class="ti ti-video text-pink fs-1"></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div class="avatar avatar-lg online me-2">
                              <img
                                src="assets/img/profiles/avatar-03.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6>Prakash</h6>
                                <p>
                                  <i
                                    class="ti ti-video-minus text-purple me-2"
                                  ></i
                                  >20 Min Ago
                                </p>
                              </div>
                              <div class="chat-user-time">
                                <span class="time">08m 12s</span>
                                <div>
                                  <i class="ti ti-video text-pink fs-1"></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div class="avatar avatar-lg online me-2">
                              <img
                                src="assets/img/profiles/avatar-04.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6>Thennarasu</h6>
                                <p>
                                  <i class="ti ti-video text-success me-2"></i
                                  >20 Min Ago
                                </p>
                              </div>
                              <div class="chat-user-time">
                                <span class="time">08m 12s</span>
                                <div>
                                  <i class="ti ti-video text-pink fs-1"></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div class="avatar avatar-lg online me-2">
                              <img
                                src="assets/img/profiles/avatar-02.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6>Raja Raman</h6>
                                <p>
                                  <i
                                    class="ti ti-video-minus text-purple me-2"
                                  ></i
                                  >20 Min Ago
                                </p>
                              </div>
                              <div class="chat-user-time">
                                <span class="time">08m 12s</span>
                                <div>
                                  <i class="ti ti-video text-pink fs-1"></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div
                              class="avatar avatar-lg bg-purple avatar-rounded me-2"
                            >
                              <span class="avatar-title fs-14 fw-medium"
                                >AG</span
                              >
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6>Amfr_boys_Group</h6>
                                <p>
                                  <i
                                    class="ti ti-video-off text-danger me-2"
                                  ></i
                                  >20 Min Ago
                                </p>
                              </div>
                              <div class="chat-user-time">
                                <span class="time">08m 12s</span>
                                <div>
                                  <i class="ti ti-video text-pink fs-1"></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="chat-list">
                          <a [routerLink]="['/']" class="chat-user-list">
                            <div class="avatar avatar-lg online me-2">
                              <img
                                src="assets/img/profiles/avatar-10.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                            <div class="chat-user-info">
                              <div class="chat-user-msg">
                                <h6>Wilbur Martinez</h6>
                                <p>
                                  <i
                                    class="ti ti-video-minus text-purple me-2"
                                  ></i
                                  >20 Min Ago
                                </p>
                              </div>
                              <div class="chat-user-time">
                                <span class="time">08m 12s</span>
                                <div>
                                  <i class="ti ti-video text-pink fs-1"></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-scrollbar>
        </div>
      </div>
      <!-- /Calls -->
    </div>
    <!-- sidebar group -->

    <!-- Chat -->
    <div class="chat chat-messages" id="middle">
      <div>
        <div class="chat-body chat-page-group slimscroll">
          <div
            class="welcome-content d-flex align-items-center justify-content-center"
          >
            <div class="welcome-info text-center">
              <div
                class="welcome-box bg-white d-inline-flex align-items-center"
              >
                <span class="avatar avatar-md me-2">
                  <img
                    src="assets/img/profiles/avatar-16.jpg"
                    alt="img"
                    class="rounded-circle"
                  />
                </span>
                <h6>
                  Hi Tamizharasan!<img
                    src="assets/img/icons/emoji-01.svg"
                    alt="Image"
                    class="ms-2"
                  />
                </h6>
              </div>
              <p>Try the wholesome experiece of Veeras.</p>
              <a
                href="javascript:void(0);"
                class="btn btn-primary me-3"
                data-bs-toggle="modal"
                data-bs-target="#voice_call"
                ><i class="ti ti-phone-call me-2"></i>Voice</a
              >
              <a
                href="javascript:void(0);"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#video-call"
                ><i class="ti ti-video me-2"></i>Video</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="chat-footer position-relative">
        <div class="card call-details-popup position-absolute">
          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <h4 class="me-2">Call Details</h4>
                <span
                  class="badge border border-primary text-primary badge-sm me-2"
                >
                  <i class="ti ti-point-filled"></i>
                  10:23
                </span>
              </div>
              <a
                href="javascript:void(0);"
                class="float-end user-add bg-primary rounded d-flex justify-content-center align-items-center text-white"
                data-bs-toggle="modal"
                data-bs-target="#video_group"
              >
                <i class="ti ti-user-plus"></i>
              </a>
            </div>
          </div>
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <div class="avatar avatar-lg me-2">
                <img
                  src="assets/img/profiles/avatar-17.jpg"
                  class="rounded-circle"
                  alt="image"
                />
              </div>
              <div class="chat-user-info">
                <div class="chat-user-msg">
                  <h6>Steve Merrell (you)</h6>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <div class="avatar avatar-lg me-2">
                <img
                  src="assets/img/profiles/avatar-06.jpg"
                  class="rounded-circle"
                  alt="image"
                />
              </div>
              <div class="chat-user-info">
                <div class="chat-user-msg">
                  <h6>Tamizharasan</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer border-0 pt-0">
            <div
              class="call-controll-block d-flex align-items-center justify-content-center"
            >
              <a
                href="javascript:void(0);"
                class="call-controll mute-bt d-flex align-items-center justify-content-center"
                [ngClass]="{ stop: isMuted[0] }"
                (click)="toggleMute(0)"
              >
                <i
                  [ngClass]="
                    isMuted[0] ? 'ti ti-microphone-off' : 'ti ti-microphone'
                  "
                ></i>
              </a>
              <a
                href="javascript:void(0);"
                class="call-controll d-flex align-items-center justify-content-center"
              >
                <i class="ti ti-volume"></i>
              </a>
              <a
                href="javascript:void(0);"
                onclick="closeCallDetails()"
                class="call-controll call-decline d-flex align-items-center justify-content-center"
              >
                <i class="ti ti-phone"></i>
              </a>
              <a
                href="javascript:void(0);"
                onclick="closeCallDetails()"
                data-bs-toggle="modal"
                data-bs-target="#voice_attend"
                class="call-controll d-flex align-items-center justify-content-center"
              >
                <i class="ti ti-maximize"></i>
              </a>
              <a
                href="javascript:void(0);"
                class="call-controll d-flex align-items-center justify-content-center"
              >
                <i class="ti ti-dots"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Chat -->
  </div>
  <!-- /Content -->
</div>
