<div class="video-screen-body">
  <div class="video-screen-main">
    <div class="videoscreen-sub-left">
      <div class="videoscreen-sub">
        <div class="connected-username">test</div>
      </div>
    </div>
    <div class="videoscreen-sub-right">
      <div class="videoscreen-sub">
        <div class="connected-username">test</div>
      </div>
      <div class="videoscreen-sub self-video">
        <div class="connected-username">You</div>
      </div>
    </div>
  </div>
  <app-videocallaction class="w-100"></app-videocallaction>
</div>
