.video-play-container {
    position: relative;
  }
  
  .video-play-container iframe {
    border-radius: 20px;
  }
  
  @media screen and (max-height: 800px) {
    .video-play-container iframe {
      height: 400px;
    }
  }

.vimeo-video iframe {
    width: 100%;
    height: auto;
    max-width: 800px; /* You can adjust the max width */
  }

  video::-webkit-media-controls {
    display: flex;
    justify-content: center;
  }
  
  video::-webkit-media-controls-enclosure {
    overflow: hidden;
  }
  
  video::-webkit-media-controls-panel {
    background-color: transparent;
  }
  
  video::-webkit-media-controls-timeline,
  video::-webkit-media-controls-time-remaining-display,
  video::-webkit-media-controls-current-time-display,
  video::-webkit-media-controls-seek-back-button,
  video::-webkit-media-controls-seek-forward-button {
    display: none;
  }
  