.chat-right-section {
    height: 100%;
    overflow: auto;
    padding: 10px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/chat-bg.png); 
}
.call-default-content img {
    max-width: 100px;
}

.call-default-content {
    text-align: center;
}
.call-default-user {color: #5a4b25;font-weight: 700;margin-bottom: 0;font-size: 20px;}

.call-default-text {
    margin-bottom: 0;
    font-size: 16px;
}
.video-call-action ul {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
}
.video-call-action ul li {
    display: inline-block;
    margin: 0 6px;
}
.video-call-action ul li a {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #6a6a6a4d;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    color: #fff;
    text-decoration:none;
    cursor: pointer;
}
.video-call-action ul li a .material-icons {
    font-size: 24px;
}
.video-call-action ul li a.call-end {
    background-color: red;
}
.video-call-action ul li a.call-mute {
    background-color: #0057ff;
}
