.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  height: 65px;
  background-color: var(--tg-common-color-white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: background-color 0.3s;
}

.header-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 270px;
  text-decoration: none;
}
.header-img-wrapper .logo svg {
  width: 100%;
  height: 100%;
}

.header-right-sec {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-btn {
  width: 100%;
  max-width: max-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3px 14px;
  gap: 5px;
  text-decoration: none;
  font-size: 18px;
  color: #1d1b70;
  font-weight: var(--tg-fw-semi-bold);
  background-color: #ffffff;
  text-transform: uppercase;
  border-radius: 24px;
  border: 2px solid #1d1b70;
}
.login-btn:hover {
  box-shadow: 2px 2px 10px rgba(45,104,255,.5);
  transition: 0.3s;
}



.login-btn-icon {
  width: 28px;
  background: linear-gradient(119deg,#1d1b70 1.7%,#4643ff 116%);
  color: #fff;
  aspect-ratio: 1/1;
  object-fit: contain;
  font-size:13px;
  border-radius: 50%;
  margin-left: 4px;
  padding: 7px 2px 3px 10px;
}
.login-btn-icon:hover img {
  /* background: linear-gradient(45deg, #ae9975, #ae9975); */
  box-shadow: 2px 2px 10px rgba(45,104,255,.5);
  transition: 0.3s;
}

.login-btn-icon:hover {
  background: linear-gradient(90deg,#0048ff,#0048ff 376%);
  opacity: 1;
}

.btns-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.btn-login {
  border: none;
  outline: none;
  background: transparent;
  font-weight: var(--tg-fw-semi-bold);
}
.btn-signup {
  border: none;
  outline: none;
  color: var(--tg-text-blue);
  font-weight: bold;
  padding: 10px 8px;
  border-radius: 6px;
}

@media screen and (max-width: 767px) {
  .main-header {
    padding: 10px 15px;
    height: 60px;
  }

  .login-btn {
    font-size: 12px;
    padding: 8px 12px;
  }
  .login-btn-icon {
    width: 20px;
  }
}

.notify{
  background: #F44336;
  padding: 4px 9px;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  position: absolute;
  top: 8px;
  font-weight: 600;
}

.qa_container:hover {
  cursor: pointer;
}

.qa-content {
  font-weight: 700;
  letter-spacing: 1px;
}

.alert-img {
  width: 37px;
  transform: rotate(-23deg);
}