<!-- <smartvideo
  class="swarm-fluid"
  controls
  playsinline
  width="1920"
  height="1080"
  src="swarmify://a0beca3609e7c0988a78dc2c584541064d19bf45856e3f01ee82a7a8d75631b9"
>
</smartvideo> -->
<!-- <div class="video-play-container" style="text-align: center">
  <div class="vimeo-video">
    <video
      #swarmVideo
      width="1280"
      height="720"
      autoplay
      playsinline
      controls
      (ended)="onVideoEnded()"
      (play)="onVideoPlay()"
      (pause)="onVideoPause()"
    >
      <source [src]="sanitizedVideoUrl" />
      Your browser does not support the video tag.
    </video>
  </div>
</div> -->

<!-- <video
  #swarmVideo
  width="400"
  height="200"
  controls
  allow="autoplay"
  (ended)="onVideoEnded()"
  (play)="onVideoPlay()"
  [src]="sanitizedVideoUrl"
  (pause)="onVideoPause()"
>
  <source [src]="sanitizedVideoUrl" type="video/mp4" />
  Your browser does not support the video tag.
</video> -->

<!-- <video
  #swarmVideo
  class="swarm-fluid"
  controls
  width="1280"
  height="720"
  src="swarmify://cf91a310afae133b567c1a25bd900de9b2d13bd97116bf24ef9aeafdcace39c3"
></video> -->

<video
  #swarmVideo
  src="swarmify://a0beca3609e7c0988a78dc2c584541064d19bf45856e3f01ee82a7a8d75631b9"
  width="1480"
  height="720"
  class="smartvideo only-play-control"
  only-play-control
  playsinline
  autoplay
></video>
