<section class="demo-video-layout">
  <div class="container">
    <div class="row">
      <div class="demo-video-wrapper">
        <div class="video-outer">
          <div class="video-thumbnail">
            <div class="thumbnail-lhs">
              <h3 class="text-box">
                This is how
                <span class="d-block text-uppercase thumb-title">veera's</span
                >magic method
                <span class="thumb-subtitle">works!</span>
              </h3>
              <button class="demo-btn">Do Not Skip or Miss</button>
            </div>
            <!-- <div class="thumbnail-center">
              <i class="fa-regular fa-circle-play" (click)="onClickPlay()"></i>
            </div>
            <div> -->
              <!-- <ng-container *ngIf="!isVideoPlaying; else videoPlayer">
                <div [innerHtml]="videPageVeeraImage" class="cursor-pointer"></div>
              </ng-container> -->
              <!-- <ng-template #videoPlayer> -->
                <!-- <div #vimeoPlayer></div> -->
              <!-- </ng-template> -->
            <!-- </div> -->
            <!-- <div [innerHtml]="videPageVeeraImage" class="cursor-pointer" *ngIf="!isVideoPlaying"></div> -->

            <div class="thumbnail-center" (click)="onClickPlayPause()">
              <i class="fa-regular" [ngClass]="isVideoPlaying ? 'fa-circle-pause' : 'fa-circle-play'"></i>
            </div>
            <div #vimeoPlayer ></div>
            
            
          </div>
        </div>
        <div class="video-inner"></div>
      </div>
    </div>
  </div>
</section>
