.video-play-container {
  position: relative;
}

.video-play-container iframe {
  border-radius: 20px;
}

@media screen and (max-height: 800px) {
  .video-play-container iframe {
    height: 400px;
  }
}

.vimeo-video iframe {
  width: 100%;
  height: auto;
  max-width: 800px; /* You can adjust the max width */
}

.right-content-area-supported{
  width: 100%;
  max-width: 100%;
  height: 100%;
}