.body {
    background: #064F3E;
    /* background:url('../../../assets/images/board.jpeg');
    background-repeat: no-repeat;
    background-size: cover; */
    color: #fff;
}

header {
    background-color: #fff;
    box-shadow: 0 4px 6px #0000001a, 0 1px 3px #00000014;
    transition: background-color .3s;
}

.question {
    width: 100%;
}

.options {
    position: relative;
    padding-left: 40px;
}

#options label {
    display: block;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
    cursor: pointer;
}

.options input {
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ad9976;
    border: 1px solid #ad9976;
    border-radius: 50%;
}

.options input:checked~.checkmark:after {
    display: block;
}

.options .checkmark:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked~.checkmark {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked~.checkmark:after {
    transform: translate(-50%, -50%) scale(1);
}


.btn-primary:hover {
    background-color: #21bf73;
    border: 1px solid #21bf73;
}

.btn-success {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question {
        width: 100%;
        word-spacing: 2px;
    }
}

.form-control-plaintext {
    color: #F0C853 !important;
    font-size: 16px;
    font-weight: 700;
}

.border-bottom-1 {
    border-bottom: 1px solid #fff !important;
}

:root {
    --bs-border-width: 1px !important;
    --bs-border-style: solid !important;
    --bs-border-color: #dee2e6 !important;
    --bs-list-group-border-width: 1px !important;
    --bs-border-style: solid !important;
    --bs-list-group-border-color: #dee2e6 !important;
}

.list-group-item+.list-group-item {
    border-top-width: 1px;
    border: 1px solid #dee2e6 !important;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.speak{
    padding-right: calc(1.5em + .75rem);
    background-image: url('../../../assets/images/mic.png');
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.ans_wrong {
    padding-right: calc(1.5em + .75rem);
    background-image: url('../../../assets/images/close.png');
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.text-success {
    --bs-text-opacity: 1;
    color: #4CAF50 !important;
}