<div class="video-call-action">
    <ul>
      <li routerLink="/syllabus">
        <a class="syllabus-sheet"
          ><span class="material-icons"
            >library_books</span
          ></a
        >
      </li>
      <li>
        <a
        
         
          class="call-mute"
          ><span class="material-icons"
            >volume_off</span
          ></a
        >
      </li>
      <li>
        <a class="call-end"
          ><span class="material-icons"
            >call_end</span
          ></a
        >
      </li>
      <li>
        <a
          ><span class="material-icons"
            >videocam_off</span
          ></a
        >
      </li>
    </ul>
  </div>