<div class="board">
    <img src="assets/images/board.jpg" alt="">
    <div class="board-content">
        <h4>Self - Practice</h4>
        <h6>Try in Hindi</h6>
        <ol class="question-container" [style.counter-reset]="'question-counter ' + (currentPage * itemsPerPage)">
            <li *ngFor="let item of paginatedQuestions.controls;let i=index;" class="question">
                <div class="question-wrapper col-sm-12 col-lg-6">
                    <div class="english">
                        <p>{{item.get('english')?.value}}</p>
                    </div>
                    <div class="tamil">
                        <p>{{item.get('tamil')?.value}}</p>
                    </div>
                    <div class="hindi">
                        <p>
                            <span class="dash" *ngFor="let dash of getBlanks(i).controls;let j = index">
                                <input type="text" [formControl]="getDash(i,j)" />
                                <span class="wrong" *ngIf="getErrors(i).at(j).value" >✘</span>
                                <span class="correct" *ngIf="getErrors(i).at(j).value" >{{questions.at(i)?.answers?.at(j)}}</span>
                            </span>                            
                        </p>
                    </div>
                    <div class="answer" *ngIf="item.get('show')?.value">
                        @let answers = questions.at(i)?.answers;
                        <p>{{ answers?.join(' ') }}</p>
                    </div>
                </div>
                <div class="btn-panel mx-lg-5">
                    <button (click)="check(i)" *ngIf="getBlanks(i).valid">Check</button>
                    <button (click)="showAnswer(i)">Answer</button>
                </div>
            </li>
        </ol>
        <div class="text-end">
            <div class="btn-control">
                <button (click)="retry()" >Retry</button>
                <button (click)="nextPage()" >Next</button>
            </div>
        </div>
    </div>
</div>