<div class="container-fluid wrapper" style="background-color: #f1f4f9;position: relative;">
  <div class="row rg-30">
    <div class="col-lg-4 center" for="sec1" style="position: relative;">
      <img src="assets/images/banner/veeras-bg-color.png" alt="img" class="main-img">
      
      <div style="z-index: 4;bottom: 5em;position: absolute;" class="play-overlay">
        <img src="assets/images/play-button.png">
      </div>
    </div>
    <div class="col-lg-8 center text-center" for="sec2">
      <h1 class="dashboard-text">
        You aren't
        <span class="decorator">
          alone.

        </span>
        <span class="dashboard-text-2 d-md-block">We are here to Support and Care for you in your learning.</span>
      </h1>
      
    </div>
    <div class="dashboard-master-box">
      <img src="assets/images/master_message.png" alt="img" class="display-master-msg-img">
    </div>
    
  </div>
</div>
<div class="container-fluid wrapper">
  <div>
    <app-feature></app-feature>
  </div>
</div>

<div class="container-fluid wrapper">
  <div class="row rg-30">
    <div class="col-lg-6 center text-center" for="sec2">
      <a href="#" class="btn-bg-feedback"><p>Leave a Feedback</p></a>
    </div>
    <div class="col-lg-6 center text-center" for="sec2">
      <a href="#" class="btn-bg-feedback"><p>Any Issues?</p></a>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="footer-sec row">
      <div class="col-md-3 col-6">
        <span class="center gap-3"
          ><fa-icon [icon]="faBook"></fa-icon>My Learning</span
        >
      </div>
      <div class="col-md-3 col-6">
        <span class="center gap-3"
          ><fa-icon [icon]="faAddressCard"></fa-icon>My Responsbility</span
        >
      </div>
      <div class="col-md-3 col-6">
        <span class="center gap-3"
          ><fa-icon [icon]="faGraduationCap"></fa-icon>My Progress</span
        >
      </div>
      <div class="col-md-3 col-6">
        <span class="center gap-3"
          ><fa-icon [icon]="faUser"></fa-icon>My Pride</span
        >
      </div>
    </div>
  </div>

  <button id="backToTop" class="back-to-top hidden" (click)="scrollToTop()">
    <fa-icon [icon]="faArrowUp"></fa-icon>
  </button>
</div>
