/* Banner CSS Start */

.px-6{padding-left:3.5rem!important;padding-right:3.5rem!important}.px-7{padding-left:4rem!important;padding-right:4rem!important}.px-8{padding-left:4.5rem!important;padding-right:4.5rem!important}.px-9{padding-left:5rem!important;padding-right:5rem!important}.py-6{padding-bottom:3.5rem!important;padding-top:3.5rem!important}.py-7{padding-bottom:4rem!important;padding-top:4rem!important}.py-8{padding-bottom:4.5rem!important;padding-top:4.5rem!important}.py-9{padding-bottom:5rem!important;padding-top:5rem!important}.top-10{top:10%!important}.top-20{top:20%!important}.top-30{top:30%!important}.top-40{top:40%!important}.top-60{top:60%!important}.top-70{top:70%!important}.top-80{top:80%!important}.top-90{top:90%!important}.bottom-10{bottom:10%!important}.bottom-20{bottom:20%!important}.bottom-30{bottom:30%!important}.bottom-40{bottom:40%!important}.bottom-60{bottom:60%!important}.bottom-70{bottom:70%!important}.bottom-80{bottom:80%!important}.bottom-90{bottom:90%!important}.start-10{left:10%!important}.start-20{left:20%!important}.start-30{left:30%!important}.start-40{left:40%!important}.start-60{left:60%!important}.start-70{left:70%!important}.start-80{left:80%!important}.start-90{left:90%!important}.end-10{right:10%!important}.end-20{right:20%!important}.end-30{right:30%!important}.end-40{right:40%!important}.end-60{right:60%!important}.end-70{right:70%!important}.end-80{right:80%!important}.end-90{right:90%!important}@media(min-width:576px){.px-sm-6{padding-left:3.5rem!important;padding-right:3.5rem!important}.px-sm-7{padding-left:4rem!important;padding-right:4rem!important}.px-sm-8{padding-left:4.5rem!important;padding-right:4.5rem!important}.px-sm-9{padding-left:5rem!important;padding-right:5rem!important}.py-sm-6{padding-bottom:3.5rem!important;padding-top:3.5rem!important}.py-sm-7{padding-bottom:4rem!important;padding-top:4rem!important}.py-sm-8{padding-bottom:4.5rem!important;padding-top:4.5rem!important}.py-sm-9{padding-bottom:5rem!important;padding-top:5rem!important}}@media(min-width:768px){.px-md-6{padding-left:3.5rem!important;padding-right:3.5rem!important}.px-md-7{padding-left:4rem!important;padding-right:4rem!important}.px-md-8{padding-left:4.5rem!important;padding-right:4.5rem!important}.px-md-9{padding-left:5rem!important;padding-right:5rem!important}.py-md-6{padding-bottom:3.5rem!important;padding-top:3.5rem!important}.py-md-7{padding-bottom:4rem!important;padding-top:4rem!important}.py-md-8{padding-bottom:4.5rem!important;padding-top:4.5rem!important}.py-md-9{padding-bottom:5rem!important;padding-top:5rem!important}}@media(min-width:992px){.px-lg-6{padding-left:3.5rem!important;padding-right:3.5rem!important}.px-lg-7{padding-left:4rem!important;padding-right:4rem!important}.px-lg-8{padding-left:4.5rem!important;padding-right:4.5rem!important}.px-lg-9{padding-left:5rem!important;padding-right:5rem!important}.py-lg-6{padding-bottom:3.5rem!important;padding-top:3.5rem!important}.py-lg-7{padding-bottom:4rem!important;padding-top:4rem!important}.py-lg-8{padding-bottom:4.5rem!important;padding-top:4.5rem!important}.py-lg-9{padding-bottom:5rem!important;padding-top:5rem!important}}@media(min-width:1200px){.px-xl-6{padding-left:3.5rem!important;padding-right:3.5rem!important}.px-xl-7{padding-left:4rem!important;padding-right:4rem!important}.px-xl-8{padding-left:4.5rem!important;padding-right:4.5rem!important}.px-xl-9{padding-left:5rem!important;padding-right:5rem!important}.py-xl-6{padding-bottom:3.5rem!important;padding-top:3.5rem!important}.py-xl-7{padding-bottom:4rem!important;padding-top:4rem!important}.py-xl-8{padding-bottom:4.5rem!important;padding-top:4.5rem!important}.py-xl-9{padding-bottom:5rem!important;padding-top:5rem!important}}@media(min-width:1400px){.px-xxl-6{padding-left:3.5rem!important;padding-right:3.5rem!important}.px-xxl-7{padding-left:4rem!important;padding-right:4rem!important}.px-xxl-8{padding-left:4.5rem!important;padding-right:4.5rem!important}.px-xxl-9{padding-left:5rem!important;padding-right:5rem!important}.py-xxl-6{padding-bottom:3.5rem!important;padding-top:3.5rem!important}.py-xxl-7{padding-bottom:4rem!important;padding-top:4rem!important}.py-xxl-8{padding-bottom:4.5rem!important;padding-top:4.5rem!important}.py-xxl-9{padding-bottom:5rem!important;padding-top:5rem!important}}.bsb-btn-xl{--bs-btn-padding-y:0.625rem;--bs-btn-padding-x:1.25rem;--bs-btn-font-size:calc(1.26rem + 0.12vw);--bs-btn-border-radius:var(--bs-border-radius-lg)}@media(min-width:1200px){.bsb-btn-xl{--bs-btn-font-size:1.35rem}}.bsb-btn-2xl{--bs-btn-padding-y:0.75rem;--bs-btn-padding-x:1.5rem;--bs-btn-font-size:calc(1.27rem + 0.24vw);--bs-btn-border-radius:var(--bs-border-radius-lg)}@media(min-width:1200px){.bsb-btn-2xl{--bs-btn-font-size:1.45rem}}.bsb-btn-3xl{--bs-btn-padding-y:0.875rem;--bs-btn-padding-x:1.75rem;--bs-btn-font-size:calc(1.28rem + 0.36vw);--bs-btn-border-radius:var(--bs-border-radius-lg)}@media(min-width:1200px){.bsb-btn-3xl{--bs-btn-font-size:1.55rem}}.bsb-btn-4xl{--bs-btn-padding-y:1rem;--bs-btn-padding-x:2rem;--bs-btn-font-size:calc(1.29rem + 0.48vw);--bs-btn-border-radius:var(--bs-border-radius-lg)}@media(min-width:1200px){.bsb-btn-4xl{--bs-btn-font-size:1.65rem}}.bsb-btn-5xl{--bs-btn-padding-y:1.125rem;--bs-btn-padding-x:2.25rem;--bs-btn-font-size:calc(1.3rem + 0.6vw);--bs-btn-border-radius:var(--bs-border-radius-lg)}@media(min-width:1200px){.bsb-btn-5xl{--bs-btn-font-size:1.75rem}}.bsb-circle{--bsb-cs:125px;border-radius:50%;height:var(--bsb-cs);width:var(--bsb-cs)}

.bg-shadow{
	background-image: url("/assets/images/banner/girl-bg-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_shape_1{
	background-image: url("/assets/images/banner/3.png");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 40px;
    width: 40px;
}

.bg_shape_2{
	background-image: url("/assets/images/banner/4.png");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 40px;
    width: 40px;
}

.color_light_black{
	color: #3f3f40;
}


h1 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

.text_highlight{
	font-size: 1.5em;
    font-weight: 700;
	color: #3f3f40;
}

.bg_shape_3{
	background-image: url("/assets/images/banner/5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    rotate: 273deg;
    transform: translate(43%, -119%) !important;
}
.bg_shape_4{
	background-image: url("/assets/images/banner/6.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 163px;
    width: 27%;
    rotate: 347deg;
}

.bg_shape_5{
	background-image: url("/assets/images/banner/7.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
    height: 150px;
    width: 155px;
    left: 0px;
    top: 5em;
}

.bg_slider{
	background-image: url("/assets/images/banner/bg_slider.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_tamil_text {
  font-family: 'Avvaiyar';
  font-size: 22px;
}

/* Banner CSS End */

.banner {
  position: relative;
  background-image: url("/assets/images/banner/banner_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}
.banner-row {
  row-gap: 10px;
}
.carousel-first {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.carousel-subtitle-box {
  display: block;
  text-align: center;
  width: max-content;
  margin: 0 auto;
  border-top: 4px solid var(--tg-common-color-yellow);
  border-bottom: 4px solid var(--tg-common-color-yellow);
  padding: 3px 0;
}
.carousel-subtitle-box h2 {
  font-size: 22px;
  font-weight: var(--tg-fw-medium);
  color: var(--tg-text-blue);
  margin: 0;
}
.carousel-title-box {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: left;
}
.carousel-title-box h1 {
  font-size: 45px;
  color: var(--tg-common-color-dark);
  font-weight: var(--tg-fw-semi-bold);
  font-family: var(--tg-fontfamily-lexend-deca);
}

.main-title {
  color: var(--tg-text-blue);
  font-weight: var(--tg-fw-bold);
  position: relative;
  display: inline-block;
  padding-top: 10px;
}
.main-title .highlighter {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 35px;
  pointer-events: none;
  color: var(--tg-common-color-yellow);
}
.carousel-first .carousel-subtitle-box {
  margin: 0;
}
.carousel-first .carousel-title-box {
  text-align: start;
}
.carousel-title-box h1 {
  font-size: 27px;
  margin-bottom: 20px;
}
.carousel-title-box .main-title .highlighter svg {
  margin-top: 25px;
}
.carousel-second .carousel-subtitle-box {
  margin: 0;
}
.carousel-second .carousel-subtitle-box h2 {
  color: var(--tg-common-color-dark);
}
.carousel-second .carousel-title-box {
  text-align: start;
}
.carousel-second .carousel-title-box h1 {
  color: var(--tg-common-color-black);
}

.carousel-third .carousel-subtitle-box {
  margin: 0;
}
.carousel-third .carousel-subtitle-box h2 {
  color: var(--tg-common-color-black);
  margin: 0;
}
.carousel-third .carousel-title-box {
  text-align: start;
}
.carousel-third .carousel-title-box h1 {
  color: var(--tg-text-green);
}

.carousel-control-next,
.carousel-control-prev {
  width: 8%;
}

.prev-btn,
.next-btn {
  color: var(--tg-common-color-primary);
  font-weight: var(--tg-fw-medium);
  font-size: 20px;
}

.banner_images {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main-img {
  width: 100%;
  max-width: 400px;
  height: 100%;
  z-index: 2;
}
.tamil {
  width: 100px;
  height: auto;
  position: absolute;
  top: -10%;
  left: 10%;
}
.english {
  width: 100px;
  height: auto;
  position: absolute;
  top: 15%;
  right: 9%;
}
.hindi {
  width: 100px;
  height: auto;
  position: absolute;
  left: -10%;
  bottom: 20%;
}
.experience {
  position: absolute;
}
.methodology {
  position: absolute;
}

.methodology .icon i{
  font-size: 30px;
}

.methodology .icon i::before{
  font-size: 25px;
}

.experience {
  position: absolute;
  top: 14%;
  left: 7%;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(var(--tg-common-color-white), 0.5);
  backdrop-filter: blur(100px);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 5px 25px;
  gap: 5px;
  width: 120px;
  height: 132px;
  z-index: 9;
}
.experience .icon {
  background-color: var(--tg-common-color-green);
  color: var(--tg-common-color-white);
  padding: 5px;
  clip-path: circle();
  box-shadow: 0px 15px 15px rgba(33, 150, 83, 0.2);
}
.experience .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.experience .icon i {
  font-size: 20px;
}

.info .h-text {
  font-size: 20px;
  font-weight: var(--tg-fw-bold);
  margin: 0;
}
.info .b-text {
  font-size: 14px;
  font-weight: var(--tg-fw-regular);
  line-height: 18px;
}

.methodology {
  position: absolute;
  top: 50%;
  right: 15px;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(var(--tg-common-color-white), 0.5);
  backdrop-filter: blur(100px);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 20px 5px 5px 5px;
  width: 175px;
  height: 91px;
  z-index: 9;
}
.methodology .icon {
  position: absolute;
  top: -15px;
  background-color: var(--tg-common-color-purple);
  color: var(--tg-common-color-white);
  padding: 4px;
  clip-path: circle();
  box-shadow: 15px 15px 15px rgba(var(--tg-common-color-purple), 0.24);
}
.methodology .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info .head-text {
  font-size: 14px;
}
.info .body-text {
  font-size: 13px;
  font-weight: var(--tg-fw-bold);
}

.tamil {
  animation: left-move 0.4s ease-in-out 0.4s forwards;
  animation: tamil 5s ease infinite;
  animation-delay: 1s;
}

@keyframes tamil {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-35px);
  }

  100% {
    transform: translateY(-0px);
  }
}

.english {
  animation: english 5s ease infinite;
  animation-delay: 3s;
}

@keyframes english {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-35px);
  }

  100% {
    transform: translateY(-0px);
  }
}

.hindi {
  animation: hindi 5s ease infinite;
  animation-delay: 5s;
}

@keyframes hindi {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-35px);
  }

  100% {
    transform: translateX(-0px);
  }
}

@keyframes left-move {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes left-out {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
}

.slider_video {
  border-radius: 1rem;
}

.journey-title {
  font-size: 30px;
  font-weight: var(--tg-fw-bold);
  color: var(--tg-common-color-black);
  width: max-content;
  margin: 0 auto;
  font-family: var(--tg-fontfamily-proxima);
}
.journey-title .sub-title {
  position: relative;
}
.journey-highlighter {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  pointer-events: none;
  color: var(--tg-common-color-yellow);
}

@media only screen and (min-width: 1900px) {
  .slider_video {
    width: 100%;
    height: 700px;
  }
}

@media only screen and (max-width: 1400px) {
  .carousel-title-box h1 {
    font-size: 32px;
  }

  .slider_video {
    width: 80%;
    height: 550px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1250px) {
  .carousel-title-box h1{
    font-size: 24px;
  }

  .slider_video {
    width: 100%;
    height: 500px;
  }
}


@media screen and (max-width: 991px) {
  .hindi {
    left: 0;
  }
  .carousel-control-next,
  .carousel-control-prev {
    top: -50%;
  }

  .slider_video {
    width: 100%;
    height: 370px;
  }
}

@media screen and (max-width: 768px) {
  .main-img {
    max-width: 300px;
  }

  .methodology {
    right: 30px;
  }
  .banner {
    padding-top: 50px;
  }

  .slider_video {
    width: 100%;
    height: 370px;
  }
}

@media screen and (max-width: 576px) {
  .carousel-title-box h1 {
    font-size: 24px;
  }
  .carousel-subtitle-box h2 {
    font-size: 16px;
  }
  .main-title .highlighter {
    height: 20px;
  }
  .carousel-control-next,
  .carousel-control-prev {
    top: -25%;
  }
  .tamil {
    width: 70px;
  }
  .english {
    width: 70px;
  }
  .hindi {
    width: 70px;
  }
  .main-img {
    max-width: 250px;
  }
  .experience {
    top: 15%;
    left: 0;
  }
  .methodology {
    right: 0;
  }

  .slider_video {
    height: 250px;
    width: 100%;
  }
}


@media screen and (max-width: 480px) {
  .slider_video {
    height: 185px;
    width: 100%;
  }
}