<section class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="plan-title text-center">
        Veera's
        <span class="plan-subtitle">Plan
          <div class="plan-svg-wrapper">
            <svg width="100%" height="100%" viewBox="0 0 145 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.00016 15.2711C18.1407 8.34427 70.832 -1.93441 144.473 12.3652" stroke="currentcolor"
                stroke-width="4" style="stroke-dasharray: 146, 148; stroke-dashoffset: 0"></path>
              <path d="M26.2943 14.0041C38.9177 9.44643 77.3772 3.50055 130.227 16.1786" stroke="currentcolor"
                stroke-width="2" style="stroke-dasharray: 106, 108; stroke-dashoffset: 0"></path>
            </svg>
          </div>
        </span>
      </h2>
    </div>
  </div>
  <div class="row row-gap-5 mt-3 d-flex justify-content-center align-items-center p-1">
    
    <!--<div class="col-12 col-xxl-3 col-xl-3 col-lg-5">
      <div class="plan-card text-center">
        <div class="col-12 plan-title text-decoration-underline">Monthly Plan</div>
        <div>
          <span class="plan-price">₹750</span>
          <!-- <small class="plan-gst">+ GST</small>
          <div class="plan-gst">&nbsp;</div> -->
        <!--</div>
        <div class="plan-details" style="display: none;">
          <h4>Details</h4>
          <div class="plan-duration-wrapper">
            <ul>
              <li *ngFor="let item of plans; let i = index">
                @let s = item.duration > 1?'s':'';
                <input name="plan" type="radio" [id]="item.code" (click)="choosePlan(i)" />
                <label [htmlFor]="item.code"><span>{{item.duration}}</span> {{item.period | titlecase}}{{s}}
                  Plan</label>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="d-flex text-center mt-5">
          <button class="btn btn-primary continue-button w-auto m-auto" (click)="subscribe(0)"> Subscribe </button>
          <button class="btn btn-details continue-button w-auto m-auto" (click)="openModal('monthly')" > View Details </button> <!-- data-bs-toggle="modal" data-bs-target="#planPopup" -->
        <!--</div>
        <div class="d-flex flex-column text-center plan_renew mb-4">
          "Renew monthly"
        </div>
      </div>
    </div>
    <div class="col-12 col-xxl-3 col-xl-3 col-lg-5">
      <div class="plan-card text-center">
        <div class="col-12 plan-title text-decoration-underline">Referral Plan</div>
        <div>
          <span class="plan-price">₹4500</span>
          <div class="plan-gst">(6 Months)</div>
        </div>
        <div class="plan-details" style="display: none;">
          <h4>Details</h4>
          <div class="plan-duration-wrapper">
            <ul>
              <li *ngFor="let item of plans; let i = index">
                @let s = item.duration > 1?'s':'';
                <input name="plan" type="radio" [id]="item.code" (click)="choosePlan(i)" />
                <label [htmlFor]="item.code"><span>{{item.duration}}</span> {{item.period | titlecase}}{{s}}
                  Plan</label>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="d-flex text-center mt-4">
          <button class="btn btn-primary continue-button w-auto m-auto" (click)="subscribe(1)"> Subscribe </button>
          <button class="btn btn-details continue-button w-auto m-auto" (click)="openModal('referral')"> View Details </button><!--  data-bs-toggle="modal" data-bs-target="#planPopup" -->
       <!--</div>
        <div class="d-flex flex-column text-center plan_renew mb-4">
          "Renew your plan after 6 months"
        </div>
      </div>
    </div>
    <div class="col-12 col-xxl-3 col-xl-3 col-lg-5">
      <div class="plan-card text-center">
        <div class="col-12 plan-title text-decoration-underline">Licensed plan</div>
        <div>
          <span class="plan-price">₹20000</span>
          <div class="plan-gst">(3 Years, 2 Users)</div>
        </div>
        <div class="plan-details" style="display: none;">
          <h4>Details</h4>
          <div class="plan-duration-wrapper">
            <ul>
              <li *ngFor="let item of plans; let i = index">
                @let s = item.duration > 1?'s':'';
                <input name="plan" type="radio" [id]="item.code" (click)="choosePlan(i)" />
                <label [htmlFor]="item.code"><span>{{item.duration}}</span> {{item.period | titlecase}}{{s}}
                  Plan</label>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="d-flex text-center mt-4">
          <button class="btn btn-primary continue-button w-auto m-auto" (click)="subscribe(2)"> Subscribe </button>
          <button class="btn btn-details continue-button w-auto m-auto" (click)="openModal('licensed')"> View Details </button><!--  data-bs-toggle="modal" data-bs-target="#planPopup" -->
       <!-- </div>
        <div class="d-flex flex-column text-center plan_renew mb-0">
          "Renew your plan after the licensed period, If you wish"
        </div>
      </div>
    </div>
    <div class="col-12 col-xxl-3 col-xl-3 col-lg-5">
      <div class="plan-card text-center">
        <div class="col-12 plan-title text-decoration-underline">School Student Plan</div>
        <div>
          <span class="plan-price">₹300</span> / month
          <div class="plan-gst">&nbsp;</div>
        </div>
        <div class="plan-details" style="display: none;">
          <h4>Details</h4>
          <div class="plan-duration-wrapper">
            <ul>
              <li *ngFor="let item of plans; let i = index">
                @let s = item.duration > 1?'s':'';
                <input name="plan" type="radio" [id]="item.code" (click)="choosePlan(i)" />
                <label [htmlFor]="item.code"><span>{{item.duration}}</span> {{item.period | titlecase}}{{s}}
                  Plan</label>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="d-flex text-center mt-4">
          <button class="btn btn-primary continue-button w-auto m-auto" (click)="subscribe(3)"> Subscribe </button>
          <button class="btn btn-details continue-button w-auto m-auto"> Demo </button>
        </div>
        <div class="d-flex flex-column text-center plan_renew mb-5">
          <!-- <button class="btn demo-button w-auto m-auto"> Demo </button> -->
          <!--<p>"Renew monthly"</p>
        </div>
      </div>
    </div> -->

    @for(location of locationPlanPrice; track location) {
      <!-- @for(plan of location.plans; i = index) { -->
        <div class="col-12 col-xxl-3 col-xl-3 col-lg-5" *ngFor="let plan of location.plans; let i = index">
          <div class="plan-card text-center">
            <div class="col-12 plan-title text-decoration-underline">{{plan.name}}</div>
            <div>
              <span class="plan-price">{{location.currencySymbol}}{{location.price[0]?.[plan?.feeFieldName]}}</span> <span style="display: none;">/ month </span>
              <div class="plan-gst">({{plan.duration}} {{plan.period}}{{plan.duration > 1 ? 's' : ''}})</div>
            </div>
            
            <div class="d-flex text-center mt-5">
              <button class="btn btn-primary continue-button w-auto m-auto" (click)="subscribeNew(i)" [innerHTML]="plan?.subBtnText"></button>
              <button class="btn btn-details continue-button w-auto m-auto" [innerHTML]="plan?.viewDtlBtnText" (click)="openModal(plan)"></button>
            </div>
            <div class="d-flex flex-column text-center plan_renew mb-5">
              <p>"{{plan.note}}"</p>
            </div>
          </div>
        </div>
      <!-- } -->
    }
    
  </div>

  <div class="row row-gap-5 mt-5 d-flex justify-content-center align-items-center" id="subscribeSection" #subscribeSection>
    <div class="col-12 col-xxl-9 col-xl-8 col-lg-7 align-self-baseline" *ngIf="showSummary">
      <div class="order-wrapper">
        <h2>Order Summary</h2>
        <table class="plan_table">
          <tbody>
            <tr>
              <td>
                <div class="select-plan">
                  Total amount paid
                </div>
              </td>
              <td>
                <div class="select-plan">
                  @let amount = feeValue;
                  <span>{{selectedPlanNew.currencySymbol}} {{amount | number:'1.2-2' }}</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div>IGST {{selectedPlanNew.gstPercent}}%</div>
              </td>
              <td>
                <div class="select-plan">
                  @let gstAmt = (amount * (selectedPlanNew.gstPercent / 100));
                  <span>{{selectedPlanNew.currencySymbol}} {{gstAmt | number:'1.2-2'}}</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div>Total</div>
              </td>
              <td>
                <div class="select-plan total-container">
                  @let total = amount + gstAmt;
                  <span class="total_amount">{{selectedPlanNew.currencySymbol}} {{total | number:'1.2-2' }}</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="bg-secondary-subtle col-8 m-auto p-2 text-dark">
            <p [ngStyle]="{ 
              fontSize:selectedPlanNew.code === plansNew[0].code ? '16px' : ''
            }">You have selected {{selectedPlanNew.duration}} {{selectedPlanNew.period}}{{selectedPlanNew.duration > 1 ? 's' : ''}} plan
              <span *ngIf="selectedPlanNew.hasValidity">
                @let totalDuration = +selectedPlanNew.duration + +(selectedPlanNew.validityDuration || 0);
                + {{selectedPlanNew.validityDuration}} {{selectedPlanNew.validityPeriod}} free = {{totalDuration}} months of
                validity
              </span>
            </p>
          </div>
          <div class="col-4">
            <button class="btn w-100 rounded-0 btn-primary" (click)="onContinueClick()" >Continue to payment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="modal fade" id="planDetails" tabindex="-1" aria-labelledby="planDetailsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Plan Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <div class="card-body">
          <div class="col-12 plan-title text-decoration-underline">Monthly Plan</div>
          <div>
            <span class="plan-price">₹750</span>/month
            <small class="plan-gst">+ GST</small>
            <div class="plan-gst">&nbsp;</div>
          </div>
          <p>
            10-March-2025 to 10-April-2025 
          </p>
          <p>Your next renew date is 15-April-2025</p>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Validity: 5 Years</li>
            <li>Number of Users: 3</li>
            <li>Includes: All updates</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div> -->

 <!-- Modal -->
 <!-- <div class="modal fade" id="planPopup" tabindex="-1" aria-labelledby="planPopupLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <h1>₹749</h1>
              <hr>
              <table class="table table-borderless">
                  <tbody>
                      <tr>
                          <td><strong>Pack validity</strong></td>
                          <td>72 Days</td>
                      </tr>
                      <tr>
                          <td><strong>Total data</strong></td>
                          <td>164 GB</td>
                      </tr>
                      <tr>
                          <td><strong>Data at high speed*</strong></td>
                          <td>2 GB/Day +20 GB</td>
                      </tr>
                      <tr>
                          <td><strong>Voice</strong></td>
                          <td>Unlimited</td>
                      </tr>
                      <tr>
                          <td><strong>SMS</strong></td>
                          <td>100 SMS/Day</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div> -->


<!-- Bootstrap Modal -->
<div class="modal fade" id="planDetailsModal" tabindex="-1" aria-labelledby="planDetailsLabel" aria-hidden="true" *ngIf="planDetails">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="planDetailsLabel" [innerHTML]="popUpPlanHeading"></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p [innerHTML]="planDetails"></p>
        <!-- Plan details content will be injected here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
