<section class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="plan-title text-center">
        Veera's
        <span class="plan-subtitle">Plan
          <div class="plan-svg-wrapper">
            <svg width="100%" height="100%" viewBox="0 0 145 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.00016 15.2711C18.1407 8.34427 70.832 -1.93441 144.473 12.3652" stroke="currentcolor"
                stroke-width="4" style="stroke-dasharray: 146, 148; stroke-dashoffset: 0"></path>
              <path d="M26.2943 14.0041C38.9177 9.44643 77.3772 3.50055 130.227 16.1786" stroke="currentcolor"
                stroke-width="2" style="stroke-dasharray: 106, 108; stroke-dashoffset: 0"></path>
            </svg>
          </div>
        </span>
      </h2>
    </div>
  </div>
  <div class="row row-gap-5 mt-3 d-flex justify-content-center align-items-center">
    <!-- <div class="col-12 plan-title"></div> -->
    <div class="col-12 col-xxl-3 col-xl-4 col-lg-5">
      <div class="plan-card">
        <div>
          <span class="plan-price">₹599</span>/month
          <small class="plan-gst">+ GST</small>
        </div>
        <div class="plan-details">
          <h4>Details</h4>
          <div class="plan-duration-wrapper">
            <ul>
              <li *ngFor="let item of plans; let i = index">
                @let s = item.duration > 1?'s':'';
                <input name="plan" type="radio" [id]="item.code" (click)="choosePlan(i)" />
                <label [htmlFor]="item.code"><span>{{item.duration}}</span> {{item.period | titlecase}}{{s}}
                  Plan</label>
              </li>
            </ul>
          </div>
        </div>
        <div class="d-flex flex-column text-center">
          "Renew your plan anytime, as many times as you need."
        </div>
        <button class="btn btn-primary continue-button w-50 m-auto" (click)="subscribe()"> Subscribe </button>
      </div>
    </div>
    <div class="col-12 col-xxl-9 col-xl-8 col-lg-7 align-self-baseline" *ngIf="showSummary">
      <div class="order-wrapper">
        <h2>Order Summary</h2>
        <table class="plan_table">
          <tbody>
            <tr>
              <td>
                <div class="select-plan">
                  @let s = selectedPlan.duration > 1?'s':'';
                  <span> ({{selectedPlan.currencySymbol}}{{selectedPlan.planFee}} × {{selectedPlan.duration}}
                    {{selectedPlan.period}}{{s}} ) </span> <br>
                  <span *ngIf="selectedPlan.hasValidity else noplan" class="text-primary">
                    +{{selectedPlan.validityDuration}} {{selectedPlan.validityPeriod}}{{s}} validity free
                  </span>
                  <ng-template #noplan>
                    <div class="m-1"></div>
                  </ng-template>
                </div>
              </td>
              <td>
                <div class="select-plan">
                  @let amount = selectedPlan.planFee * selectedPlan.duration;
                  <span>{{selectedPlan.currencySymbol}} {{amount | number:'1.2-2' }}</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div>GST {{selectedPlan.gstPercent}}%</div>
              </td>
              <td>
                <div class="select-plan">
                  @let gstAmt = (amount * (selectedPlan.gstPercent / 100));
                  <span>{{selectedPlan.currencySymbol}} {{gstAmt | number:'1.2-2'}}</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div>Payment processing charge</div>
              </td>
              <td>
                <div class="select-plan">
                  <span>{{selectedPlan.currencySymbol}} {{selectedPlan.processingFee | number:'1.2-2'}} </span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div>Total</div>
              </td>
              <td>
                <div class="select-plan">
                  @let total = amount + gstAmt + selectedPlan.processingFee;
                  <span>{{selectedPlan.currencySymbol}} {{total | number:'1.2-2' }}</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="bg-secondary-subtle col-8 m-auto p-2 text-dark">
            <p [ngStyle]="{ 
              fontSize:selectedPlan.code === plans[0].code ? '16px' : ''
            }">You have selected {{selectedPlan.duration}} {{selectedPlan.period}} plan
              <span *ngIf="selectedPlan.hasValidity">
                @let totalDuration = +selectedPlan.duration + +(selectedPlan.validityDuration ?? 0);
                + {{selectedPlan.validityDuration}} {{selectedPlan.validityPeriod}} free = {{totalDuration}} months of
                validity
              </span>
            </p>
          </div>
          <div class="col-4">
            <button class="btn w-100 rounded-0 btn-primary" (click)="onContinueClick()" >Continue to payment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
