
.video-screen-body {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 50px);
    padding: 10px;
}

.video-screen-main {
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}



.videoscreen-sub {
    background: #d7d7d7;
    width: 49%;
    margin: 0.5%;
    border-radius: 10px;
    position: relative;
}
.connected-username {
    position: absolute;
    bottom: 10px;
    left: 10px;
    line-height: 1;
    font-weight: 500;
}
.self-video {
    border: 2px solid #e0a100;
}