<!-- <ng-scrollbar
  class="sidebar"
  #scrollbarRef="ngScrollbar"
  #scrollbar
  externalViewport
  appearance="compact"
> -->
<div class="sidebar p-3" cdkScrollable>
    <div>
      <div class="sidebar-header">
        <h5 class="text-uppercase fw-bold pt-2 pb-2">INDEX</h5>
      </div>
      <ul class="menu-list list-group mt-2 mb-3">
        @for (segment of segmentlist; track segment) {
        <li [class.menu-item]="segment._id">
          <a
            class="nav-link d-flex justify-content-center align-items-center"
            data-bs-toggle="collapse"
            [ngClass]="{ active: activeSegmentId === segment._id }"
            (click)="toggleSubmenu(segment, $event)"
          >
            <span> {{ segment.title }}</span>
            @if(segment.category) {
            <i
              class="fa-solid"
              [ngClass]="{
                'fa-caret-down': activeSegmentId !== segment._id,
                'fa-caret-up': activeSegmentId === segment._id
              }"
            ></i>
            }
          </a>
  
          @if(segment.category) {
          <ul
            id="settingsMenu"
            class="dropdownMenuCollapse collapse nav flex-column"
            [class.show]="activeSegmentId === segment._id"
          >
            @for(subMenu of segment.category; track subMenu) {
            <li class="nav-item">
              <a
                class="subMenu nav-link d-flex justify-content-start align-items-center"
                data-bs-toggle="collapse"
                [ngClass]="{ active: activeSubMenuId === subMenu._id }"
                (click)="toggleSubSubmenu(subMenu, $event)"
              >
                <span>                
                  <i class="fa-brands fa-youtube" [ngStyle]="{'font-size': '20px', 'position': 'relative', 'left': '8px','color': subMenu.colorCode,}"></i> <!--[ngStyle]="getMenuStyle(subMenu.label)"-->
                  <img style="display: none;" src="assets/images/animated-videos.svg" [ngStyle]="getMenuStyle(subMenu.name)"/>
                  &nbsp;&nbsp; {{ subMenu.label }}
                </span>
                @if(subMenu.subjects) {
                <i
                  class="fa-solid"
                  [ngClass]="{
                    'fa-caret-down': activeSubMenuId !== subMenu._id,
                    'fa-caret-up': activeSubMenuId === subMenu._id
                  }"
                ></i>
                }
              </a>
  
              @if(subMenu.subjects) {
              <ul
                id="reportsMenu"
                class="dpdownSubSubMenuCollapse collapse nav flex-column ms-3"
                [class.show]="activeSubMenuId === subMenu._id"
              >
                @for(subSubMenu of subMenu.subjects; track subSubMenu) {
                <li class="nav-item">
                  <a
                    class="subSubMenu nav-link d-flex justify-content-between"
                    [ngClass]="{ active: activeSubSubMenuId === subSubMenu._id }"
                    [ngStyle]="{'--before-color': colorCode}"
                    (click)="setActiveSubSubMenu(subSubMenu._id, $event, subMenu, subSubMenu)"
                    >{{ subSubMenu.name }}</a
                  >
                </li>
                }
              </ul>
              }
            </li>
            }
          </ul>
          }
        </li>
        }
      </ul>
    </div>
  </div>
  <!-- </ng-scrollbar> -->
  