<!-- <ng-scrollbar
  class="sidebar"
  #scrollbarRef="ngScrollbar"
  #scrollbar
  externalViewport
  appearance="compact"
> -->
<div class="sidebar" cdkScrollable>
  <div scrollViewport>
    <div class="sidebar-header">
      <h5 class="text-uppercase fw-bold">INDEX</h5>
    </div>
    <ul class="menu-list list-group">
      @for (segment of segmentlist; track segment) {
      <li [class.menu-item]="segment._id">
        <a
          class="nav-link d-flex justify-content-between"
          data-bs-toggle="collapse"
          [ngClass]="{ active: activeSegmentId === segment._id }"
          (click)="toggleSubmenu(segment, $event)"
        >
          <span><img src="assets/images/animated-videos.svg"/>&nbsp;&nbsp; {{ segment.name }}</span>
          @if(segment.subMenu) {
          <i
            class="fa-solid"
            [ngClass]="{
              'fa-caret-down': !segment.expanded,
              'fa-caret-up': segment.expanded
            }"
          ></i>
          }
        </a>

        @if(segment.subMenu) {
        <ul
          id="settingsMenu"
          class="dropdownMenuCollapse collapse nav flex-column"
          [class.show]="segment.expanded"
        >
          @for(subMenu of segment.subMenu; track subMenu) {
          <li class="nav-item">
            <a
              class="subMenu nav-link d-flex justify-content-between"
              data-bs-toggle="collapse"
              [ngClass]="{ active: activeSubMenuId === subMenu._id }"
              (click)="toggleSubSubmenu(subMenu, $event)"
            >
              <span><i class="bi bi-gear"></i> {{ subMenu.name }}</span>
              @if(subMenu.subSubMenu) {
              <i
                class="fa-solid"
                [ngClass]="{
                  'fa-caret-down': !subMenu.expanded,
                  'fa-caret-up': subMenu.expanded
                }"
              ></i>
              }
            </a>

            @if(subMenu.subSubMenu) {
            <ul
              id="reportsMenu"
              class="dpdownSubSubMenuCollapse collapse nav flex-column ms-3"
              [class.show]="subMenu.expanded"
            >
              @for(subSubMenu of subMenu.subSubMenu; track subSubMenu) {
              <li class="nav-item">
                <a
                  class="subSubMenu nav-link d-flex justify-content-between"
                  [ngClass]="{ active: activeSubSubMenuId === subSubMenu._id }"
                  (click)="setActiveSubSubMenu(subSubMenu._id, $event)"
                  >{{ subSubMenu.name }}</a
                >
              </li>
              }
            </ul>
            }
          </li>
          }
        </ul>
        }
      </li>
      }
    </ul>
  </div>
</div>
<!-- </ng-scrollbar> -->
