<section class="features-wrapper container">
  <div class="row">
    <h3 class="journey-title">
      Our Special
      <span class="sub-title"
        >Features
        <span class="journey-highlighter"
          >
          <!-- <img class="img-fluid" src="assets/images/highlighter.png" alt="" /> -->
          <svg
            width="100%"
            height="100%"
            viewBox="0 0 145 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.00016 15.2711C18.1407 8.34427 70.832 -1.93441 144.473 12.3652"
              stroke="currentcolor"
              stroke-width="4"
              style="stroke-dasharray: 146, 148; stroke-dashoffset: 0"
            ></path>
          </svg>
        </span>
      </span>
    </h3>
  </div>
  <div class="row card-feature-row d-flex d-none">
    <div *ngFor="let videoId of videoIds; let i = index"  class="border center col-lg-3 col-md-6 card-container">
      <div class="card custom-feature-card border-0 gap-3">
        <h2 class="text-center card-title fw-bolder">
          <span class="sub-title"
            >{{cards[i].title}}
            <div class="bottom-line">
              <svg
                width="100%"
                height="100%"
                viewBox="0 0 145 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.00016 15.2711C18.1407 8.34427 70.832 -1.93441 144.473 12.3652"
                  stroke="currentcolor"
                  stroke-width="4"
                  style="stroke-dasharray: 146, 148; stroke-dashoffset: 0"
                ></path>
                <path
                  d="M26.2943 14.0041C38.9177 9.44643 77.3772 3.50055 130.227 16.1786"
                  stroke="currentcolor"
                  stroke-width="2"
                  style="stroke-dasharray: 106, 108; stroke-dashoffset: 0"
                ></path>
              </svg>
            </div
          ></span>
        </h2>
        <div class="custom-player">
          <div class="video-container">
            <div class="video-wrapper">
              <div class="thumbnail-container" [ngClass]="{'d-none': isPlayerLoaded[i], 'd-block': !isPlayerLoaded[i]}">
                <img 
                  [src]="cards[i].thumbnail" 
                  alt="Video Thumbnail" 
                  class="thumbnail"
                />
              </div>
              <div  #vimeoPlayerContainer  class="vimeo-player" [ngClass]="{'d-none': !isPlayerLoaded[i], 'd-block': isPlayerLoaded[i]}" ></div>
              <div class="play-overlay">
                <button (click)="loadPlayer(i)" [ngClass]="{'d-none': isPlayerLoaded[i], 'd-block': !isPlayerLoaded[i]}" class="play-btn">
                  <i class="fa fa-play"></i>
                </button>
                <button (click)="loadPlayer(i)" [ngClass]="{'d-none': !isPlayerLoaded[i], 'd-block': isPlayerLoaded[i]}" class="play-btn">
                  <i class="fa fa-pause"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body custom-feature-body">
          <p class="card-text">
            @let count = cards[i].content.length;
            <b>{{cards[i].content}}
            </b>
          </p>
          <ng-container *ngIf="count < 49"><br></ng-container>
          <!-- <a [href]="classroom" class="card-btn">Demo</a> -->
        </div>
      </div>
    </div>

    <div class="col-12 pt-4">
      <a [href]="classroom" class="card-btn">Demo</a>
    </div>
  </div>

  <div class="container my-5">
    <div class="row text-center justify-content-center">
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card bg-transparent border-0">
          <div class="card-body p-0">
            <div class="position-relative" style="height: 250px;">
              <img src="assets/images/special_features/class_room.png" class="card-img" alt="Feature 1" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card bg-transparent border-0">
          <div class="card-body p-0">
            <div class="position-relative" style="height: 250px;">
              <img src="assets/images/special_features/self-practice.png" class="card-img" alt="Feature 2" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card bg-transparent border-0">
          <div class="card-body p-0">
            <div class="position-relative" style="height: 250px;">
              <img src="assets/images/special_features/practice_with_master.png" class="card-img" alt="Feature 3" />
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-3 col-sm-6 mb-4">
        <div class="card bg-transparent border-0">
          <div class="card-body p-0">
            <div class="position-relative" style="height: 250px;">
              <img src="assets/images/special_features/speaking_room.png" class="card-img" alt="Feature 4" />
            </div>
          </div>
        </div>
      </div> -->
      
    </div>

    <div class="row text-center justify-content-center">
      <div class="col-md-12 pt-4">
        <div class="text-center mt-3">
          <a class="btn btn-primary px-4 fw-bold demo_button" [href]="classroom">Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>
