.main{
    /* padding: 50px 100px 0px 0px;  */
    background-color: #ffffff;
}

.attedence{
    width: 100%;
    height: 100%;
    background-color: white;
}

.calender{
    /* height: 300px;
    width: 400px; */
    width: 100%;
    height: 100%;
    padding: 0px 20px 20px 20px;
    margin: 0;
}

.smiley-1{
    height: 300px;
    /* width: 300px; */
    padding: 20px;
}

.smiley-2{
    height: 300px;
    /* width: 300px; */
    padding: 20px;
}

.img-1{
    position: relative;
    left: 50px;
}

.img-2{
    position: relative;
    left: 50px;
}

.text-1{
    margin-top: 30px;
    position: relative;
    /* left: 20px; */
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins';
    margin-bottom: 10px;
}

.text-2{
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: system-ui;
}

.text-3{
    font-weight: 500;
    font-size: 18px;
    position: relative;
    left: 71px;
    font-family: 'Poppins';
}

.att-head{
    font-size: 25px;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;
    color: #3c321e;
    text-align: center;
    padding-top: 1em;
}

.calendar-table {
    width: 355px; 
    height: 200px; 
    border-collapse: collapse; 
    table-layout: fixed; 
  }
  
  .calendar-table th, .calendar-table td {
    border: 1px solid #ddd; 
    padding: 2px;
    text-align: center;
    width: 14.28%; 
    height: 10px; 
  }
  
  .calendar-table th {
    /* background-color: rgb(62, 62, 212);  */
    color: white; 
    font-weight: bold;
    font-size: 8px;
  }
  
  .calendar-table td {
    background-color: #f9f9f9; 
  }
  
  .calendar-table td span {
    display: block;
    min-height: 10px; 
  }
  
  .calendar-table td {
    height: 10px;
  }
  
  .calendar-table td:hover {
    background-color: #e6e6e6; 
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .calendar-table th, .calendar-table td {
      padding: 5px;
      height: 75px;
    }
  }
  
  .month{
    display: flex;
    justify-content: end;
  }

  .button-row{
    display: flex;
    justify-content: end;
  }
  .next-button{
    /* display: flex;
    justify-content: center;
    position: relative;
    right: 278px; */
    height: 50px;
    width: 100px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
  }

  .declaration{
   margin-top: 50px;
  }

  .dec-header{
    display: flex;
    justify-content: start;
    border: 1px solid grey;
    width: 344px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    color: #504a4a;
    font-family: 'Poppins';
  }

  .present{
    display: flex;
    justify-content: start;
    font-family: 'Poppins';
    margin-top: 5px;
    font-weight: 600;
  }

  .absent{
    display: flex;
    justify-content: start;
    font-family: 'Poppins';
    font-weight: 600;
    margin-left: 10px;
  }

  .attedence_side_nav{
    display: block;
    padding: 2em 1em;
    height: 100%;
    background-color: var(--tg-common-color-white);
    box-shadow: 4px 0px 6px #0000001a, 0 1px 3px #00000014;
    transition: background-color .3s;
  }

  .box_shadow_right{
    box-shadow: 4px 0px 6px #0000001a, 0 1px 3px #00000014;
  }

  .box_shadow_left{
    box-shadow: -4px 0px 6px #0000001a, 0 1px 3px #00000014;
  }

  html, body{
    height: 100% !important;
    overflow: visible !important;
  }

  .monthly_report_list{
    line-height: 2em;
  }
  .monthly_report_list_li{
    font-size: 13px;
  }

  .button-row{
    right: 3em;
    bottom: 2em;
    position: fixed;
  }