<div class="main">
  <div class="attedence">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-3">
        <div class="smiley-1">
          <div [innerHtml]="smileyIcon" class="img-1"></div>
          <div class="text-1">
            <div>Welcome To</div>
            <div>VEERA'S EDUCATION</div>
          </div>
          <div class="text-2">
            <div>Ha Ha! I am going to improve</div>
            <div>myself today...</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6">
        <div class="calender">
          <div class="att-head">ATTENDENCE</div>
          <app-dynamic-attendance></app-dynamic-attendance>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-3">
        <div class="smiley-2">
          <div [innerHtml]="smileyIcon" class="img-2"></div>
          <div class="text-3">
            <div>Oops!</div>
            <div>WE MISSIED YOU YESTERDAY.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button-row">
    <button class="btn btn-outline-dark next-button" [routerLink]="['/dashboard']">
      Next
    </button>
  </div>
  <!-- <div class="declaration">
    <div class="dec-header">BACKGROUND ATTENDENCE SHEET COLOR</div>
    <div class="present">PRESENT: GREEN</div>
    <div class="absent">ABSENT: RED</div>
  </div> -->
</div>