<section class="journey-bg screen-5">
  <div class="container">
    <div class="row">
      <h3 class="journey-title">
        Our
        <span class="sub-title"
          >Journey<span class="journey-highlighter"
            ><svg
              width="100%"
              height="100%"
              viewBox="0 0 145 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.00016 15.2711C18.1407 8.34427 70.832 -1.93441 144.473 12.3652"
                stroke="currentcolor"
                stroke-width="4"
                style="stroke-dasharray: 146, 148; stroke-dashoffset: 0"
              ></path>
              <path
                d="M26.2943 14.0041C38.9177 9.44643 77.3772 3.50055 130.227 16.1786"
                stroke="currentcolor"
                stroke-width="2"
                style="stroke-dasharray: 106, 108; stroke-dashoffset: 0"
              ></path></svg></span
        ></span>
      </h3>
    </div>

    <div class="row gy-5 py-3 flow-group-section">
      <div class="col-lg-12">
        <div class="flow-chart-main">
          <div class="flow-chart-top">
            <div class="flow-box">
              Veera's institute was established on April 7
              <div class="chart-year">2009</div>
            </div>
            <div class="flow-box">
              Veera's institute was made of its first video recording classes on
              Dvd's but failed to launch.
              <div class="chart-year">2012</div>
            </div>
            <div class="flow-box">
              Launched of its first service to the public through Online &
              Offline
              <div class="chart-year">2016</div>
            </div>

            <div class="flow-box">
              Veera's Institute firm turns to Private Limited Company.
              <div class="chart-year">2022</div>
            </div>

            <div class="flow-box">
              Finally, formed an online school with a full range of services.
              <div class="chart-year">2024</div>
            </div>
            <div class="flow-box">
              On Live
              <div class="chart-year">2025</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
