.master-bordered span {
  background: linear-gradient(360deg, gray, white);
  border: 1px solid linear-gradient(gray, white);
  padding: 5px 10px;
  border-radius: 5px;
}
.voice-bordered {
  background: linear-gradient(45deg, gray, transparent);
  border: 1px solid linear-gradient(45deg, gray, transparent);
  padding: 5px 10px;
  border-radius: 5px;
  width: 350px;
  text-overflow: ellipsis;
}
.master,
.learner {
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px;
}
.practice-master-content {
  display: flex;
  justify-content: center;
  text-align: center;
}
.learner img {
  margin-top: 10px;
}
.card {
  background: linear-gradient(360deg, gray, white);
}

.action-button-icon {
  background: linear-gradient(45deg, gray, transparent);
  border: 1px solid gray;
  border-radius: 15px;
  padding: 4px 8px;
}
.action-button-background {
  background: linear-gradient(90deg, gray, white);
  border-radius: 5px;
  border: 1px solid linear-gradient(360deg, gray, white);
  padding: 5px;
}

