.master-bordered span {
  background: linear-gradient(360deg, gray, white);
  border: 1px solid linear-gradient(gray, white);
  padding: 5px 10px;
  border-radius: 5px;
}
.voice-bordered {
  background: linear-gradient(45deg, gray, transparent);
  border: 1px solid linear-gradient(45deg, gray, transparent);
  padding: 5px 10px;
  border-radius: 5px;
  width: 350px;
  text-overflow: ellipsis;
}
.master,
.learner {
  background-color: #443c4100;
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px;
  width: 400px;
}

.card {
  background: linear-gradient(360deg, gray, white);
}

.action-button-icon {
  background: linear-gradient(45deg, gray, transparent);
  border: 1px solid gray;
  border-radius: 15px;
  padding: 4px 8px;
}
.action-button-background {
  background: linear-gradient(90deg, gray, white);
  border-radius: 5px;
  border: 1px solid linear-gradient(360deg, gray, white);
  padding: 5px;
}

.video-wrapper {
  height: 140px;
}

.background-beat {
  position: relative;
  top: 40px;
}
.round-image {
  position: relative;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  z-index: 1;
}
.pulse1,
.pulse2,
.pulse3 {
  position: absolute;
  height: 70px;
  width: 70px;
  background: gray;
  border-radius: 50%;
  animation: pulse 4s ease-out infinite;
  z-index: 0;
}
.pulse2 {
  animation-delay: 1s;
}
.pulse3 {
  animation-delay: 2s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@media (min-width: 996px) {
  .practice-master-content {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 990px) {
  .practice-master-content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .master,
  .learner {
    margin: auto;
    margin-bottom: 5px;
  }
}

@media (max-width: 576px) {
  .practice-master-content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .master,
  .learner {
    margin: auto;
    margin-bottom: 5px;
    width: 200px;
  }
  .voice-bordered {
    width: auto;
  }
}
