<div class="container-fluid p-0 m-0">
  <div class="top-banner">
    <div class="row gy-3">
      <div class="col-6 order-1 col-md-2 order-md-1">
        <div class="arrow-left">
          <fa-icon [icon]="faArrowLeft"> </fa-icon>
        </div>
        <div class="fw-bold d-none d-md-block">back</div>
      </div>

      <div class="sec2 col-12 col-md-8 order-3 order-md-2 d-flex justify-content-center">
        <span>Practice with the Master ></span>
        <span>SEGMENT - 1</span>
      </div>
      <div class="col-6 order-2 col-md-2 order-md-3 qa_container">
        <img src="assets/images/fabellalert.png" class="alert-img d-inline-block" />
        <span class="notify">3</span>
        <div class="qa-content">Q&A</div>
      </div>
    </div>
  </div>

  <div class="row-wrapper row">
    <div class="col-2 d-flex align-items-start justify-content-center">
      <button class="sidebar-toggle d-md-none" (click)="toggleSidebar()">
        <fa-icon [icon]="isSidebarVisible ? faTimes : faBars"></fa-icon>
      </button>
      <ul class="menu-list" [class.active]="isSidebarVisible">
        <li *ngFor="let segment of segmentlist" [ngClass]="getSegmentClass(segment)">
          {{ segment }}
        </li>
      </ul>
    </div>

    <div class="col-9 col-md-8 offset-md-1">
      <div class="row" *ngIf="questions && currQuestion">
        <div class="col-12 col-lg-6">
          <div class="card audio-crd bg-transparent-dark" [ngClass]="{'active-turn':this.currentTurn === 'veera','border':this.currentTurn !== 'veera'}" style="height: calc(100% - 20px);">
              <div class="modal-bgimg">
                  <span class="modal-bg1">
                      <img src="assets/img/bg/bg-02.png" class="img-fluid" alt="bg">
                  </span>
                  <span class="modal-bg2">
                      <img src="assets/img/bg/bg-03.png" class="img-fluid" alt="bg">
                  </span>
              </div>
              <div class="card-body p-3">
                  <div class="d-flex flex-column justify-content-center align-items-center pt-5">
                      <span class="avatar avatar-xxxl bg-soft-primary rounded-circle p-2">
                          <img src="assets/images/voice_call_admin.png " class="rounded-circle" alt="user">
                      </span>
                      <span>Veera's</span>
                  </div>
                  <div class="align-items-center d-flex justify-content-center position-relative pt-5" style="bottom: 40px;">
                    <div class="audio" *ngIf="isListen">
                      <div class="sound sound1"></div>
                      <div class="sound sound2"></div>
                      <div class="sound sound3"></div>
                      <div class="sound sound4"></div>
                      <div class="sound sound5"></div>
                    </div>
                    <button (click)="hearAgain()" *ngIf="!isListen" class="badge badge-primary-transparent btn">Listen</button>
                  </div>
                  <div class="text-center">
                    <p class="fs-12 badge badge-primary-transparent">
                      <span><i class="ti ti-microphone"></i></span>{{currQuestion.question}}
                    </p>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card audio-crd bg-transparent-dark" [ngClass]="{'active-turn':this.currentTurn === 'you','border':this.currentTurn !== 'you'}" style="height: calc(100% - 20px);">
              <div class="modal-bgimg">
                  <span class="modal-bg1">
                      <img src="assets/img/bg/bg-02.png" class="img-fluid" alt="bg">
                  </span>
                  <span class="modal-bg2">
                      <img src="assets/img/bg/bg-03.png" class="img-fluid" alt="bg">
                  </span>
              </div>
              <div class="card-body p-3">
                  <div class="d-flex flex-column justify-content-center align-items-center pt-5">
                      <span class="avatar avatar-xxxl bg-soft-primary rounded-circle p-2">
                          <img src="assets/images/cardsimg/practice.jpg" class="rounded-circle" alt="user">
                      </span>
                      <span>You</span>
                  </div>
                  <div class="align-items-center d-flex justify-content-center position-relative pt-5" style="bottom: 40px;">
                    <div class="audio" *ngIf="isRecording">
                      <div class="sound sound1"></div>
                      <div class="sound sound2"></div>
                      <div class="sound sound3"></div>
                      <div class="sound sound4"></div>
                      <div class="sound sound5"></div>
                    </div>
                    <button (click)="startRecording()" *ngIf="!isRecording" class="badge badge-primary-transparent btn">Let's Talk</button>
                  </div>
                  <div class="text-center modal-body modal-content mb-2" *ngIf="isVisible" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;" >
                    <p class="fs-12 badge badge-soft-success text-wrap">{{currQuestion.answer}}</p>
                  </div>
                  <div class="text-center" *ngIf="transcription" >
                    <p class="fs-12 badge text-wrap lh-base" [ngClass]="{'badge-success':currQuestion.result,'badge-danger':!currQuestion.result}" >
                      <span><i class="ti ti-microphone"></i></span>
                      {{transcription}}
                      <span *ngIf="currQuestion.result">✔</span>
                      <span *ngIf="!currQuestion.result">✘</span>
                    </p>
                  </div>
              </div>
              <div class="modal-footer justify-content-around border-0 pt-0 pb-2 z-3">
                <button (click)="showAnswer()" *ngIf="false" class="btn badge badge-primary-transparent rounded-pill">Try in hindi</button>
                <div class="z-3 call-controll-block d-flex align-items-center justify-content-center rounded-pill" style="padding: 5px 10px !important;background: none;border: none;">
                  <div class="text-center">
                    <button (click)="showAnswer()" class="call-controll d-flex align-items-center justify-content-center">
                      <i class="ti ti-question-mark"></i>
                    </button>                                     
                    <span class="span-text"><b>Try in Hindi</b></span>
                  </div>
                  <div class="text-center" *ngIf="false">
                    <button (click)="checkAnswer()" class="call-controll d-flex align-items-center justify-content-center">
                      <i class="ti ti-check"></i>
                    </button>                                     
                    <span class="span-text"><b>check</b></span>
                  </div>
                  <div class="text-center">
                    <button (click)="retry()" class="call-controll d-flex align-items-center justify-content-center">
                      <i class="ti ti-reload"></i>
                    </button>                    
                    <span class="span-text"><b>Retry</b></span>
                  </div>

                  <div class="text-center" *ngIf="isRecording">
                      <button *ngIf="isRecording" (click)="stopRecording()" class="call-controll d-flex align-items-center justify-content-center">
                          <i class="ti ti-player-pause"></i>
                      </button>
                      <span class="span-text" *ngIf="isRecording"><b>Stop</b></span>
                  </div>
                  
                  <div class="text-center" *ngIf="!isRecording">
                      <button *ngIf="!isRecording" (click)="startRecording()" class="call-controll d-flex align-items-center justify-content-center">
                          <i class="ti ti-microphone"></i>
                      </button>
                      <span class="span-text"><b>Start</b></span>
                  </div>
                  
                  <div class="text-center">
                      <button (click)="next()" class="call-controll d-flex align-items-center justify-content-center">
                          <i class="ti ti-arrow-badge-right"></i>
                      </button>
                      <span class="span-text"><b>Next</b></span>
                  </div>
                </div>                             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>