<div class="practice-master-container">
  <div class="row d-flex justify-content-center">
    <div class="col-9">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body practice-master-content">
              <div class="master">
                <div class="video-wrapper">
                  <!-- <app-video-player
                    [videoObj]="videoObj"
                    src="/assets/images/audio-icon.svg"
                  ></app-video-player> -->
                </div>
                <div class="master-bordered p-3">
                  <span>Master</span>
                </div>
                <div class="master-speaking p-3">
                  <span><i>Speaking..</i></span>
                </div>
                <p class="card-text voice-bordered m-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="green"
                      stroke="#11ac13"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      d="M12 20.75V3.25m8 11.71V9.04M4 14.96V9.04m12 8.872V6.088M8 17.912V6.088"
                    />
                  </svg>
                  <span>tum long aaj keya karnejaa raahe hai ?</span>
                </p>
              </div>
              <div class="learner">
                <img
                  src="/assets/images/user.png"
                  alt=""
                  width="100px"
                  height="100px"
                />
                <div class="master-bordered p-3">
                  <span>Learner</span>
                </div>
                <div class="master-speaking p-3">
                  <span><i>Say it again..</i></span>
                </div>
                <p class="card-text voice-bordered m-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="green"
                      stroke="#11ac13"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      d="M12 20.75V3.25m8 11.71V9.04M4 14.96V9.04m12 8.872V6.088M8 17.912V6.088"
                    />
                  </svg>
                  mai ghar jaa raha hoon,aur aaj mai chhutti mein hoon
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="practice-master-action-button">
    <div class="row d-flex justify-content-center">
      <div class="col-6 d-flex justify-content-evenly action-button-background">
        <div class="action-button-icon">
          <img
            src="/assets/images/audio-icon.svg"
            alt=""
            height="24px"
            width="24px"
          />
        </div>
        <div class="action-button-icon">
          <img
            src="/assets/images/pause-icon.svg"
            alt=""
            height="24px"
            width="24px"
          />
        </div>
        <div class="action-button-icon">
          <img
            src="/assets/images/replay-icon.svg"
            alt=""
            height="24px"
            width="24px"
          />
        </div>
        <div class="action-button-icon">
          <img
            src="/assets/images/full-screen-icon.svg"
            alt=""
            height="24px"
            width="24px"
          />
        </div>
        <div class="action-button-icon">
          <img
            src="/assets/images/callend-icon.svg"
            alt=""
            height="24px"
            width="24px"
          />
        </div>
      </div>
    </div>
  </div>
</div>
