<!-- Banner Start -->
<section class="py-3 py-lg-5 py-xl-8 bg_slider">
  <div class="container overflow-hidden">
    <div class="row gy-5 gy-lg-0 align-items-lg-center justify-content-lg-between">
	<div class="bg_shape_5 position-absolute z-1"></div>
      <div class="col-12 col-lg-8 order-1 order-lg-0">
		
        <h2 class="fs-4 fw-bold mb-3 color_light_black"><img src="assets/images/banner/2.png"> <span class="banner_tamil_text">மொழியைப் போற்றுவோம் ; <br> வணிக மொழிகளைக் கற்றுக்கொண்டு முன்னேறுவோம்.</span></h2>
        <p class="fs-5 mb-5 mt-5 color_light_black">Let's cherish our mother tongue and learn business languages to drive progress.</p>
        <div class="mt-5 d-grid gap-2 text-center position-relative">
			<div class="bg_shape_3 position-absolute top-10 start-40 z-1"></div>
			<h4><span class="text_highlight">V</span>eera Natarajan</h4>
			<h5>Educationist & Social Reformer</h5>
			<div class="bg_shape_4 position-absolute top-30 end-0 z-1"></div>
        </div>
      </div>
      <div class="col-12 col-lg-4 text-center">
        <div class="position-relative">
          <div class="bg_shape_1 position-absolute top-20 start-0 translate-middle z-1"></div>
          <div class="bsb-circle bg-shadow position-absolute top-30 start-50 translate-middle" style="--bsb-cs: 250px;"></div>
          <div class="bg_shape_2 position-absolute top-80 end-0 z-1"></div>
          <img class="img-fluid position-relative z-2" loading="lazy" src="assets/images/banner/1.png" >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner End -->
<section >
	
  <div class="container">
  
    <div class="row banner-row">
      <!-- <div
        class="col-lg-6 p-lg-0 d-flex align-items-center justify-content-center">
        <div
          id="carouselExampleAutoplaying"
          class="carousel slide"
          data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-first">
                <div class="carousel-subtitle-box">
                  <h2>When Skills improve; Career improves...</h2>
                </div>
                <div class="carousel-title-box">
                  <h1> <!--style="font-size: 27px;margin:0 20px;text-align: left;"-->
            <!--        Namaste! <br> Welcome to our 
                    <span class="main-title"
                      > Hindi Online School
                      <div class="highlighter">
                        <svg
                          width="100%"
                          height="100%"
                          viewBox="0 0 145 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M1.00016 15.2711C18.1407 8.34427 70.832 -1.93441 144.473 12.3652"
                            stroke="currentcolor"
                            stroke-width="4"
                            style="
                              stroke-dasharray: 146, 148;
                              stroke-dashoffset: 0;
                            "></path>
                          <path
                            d="M26.2943 14.0041C38.9177 9.44643 77.3772 3.50055 130.227 16.1786"
                            stroke="currentcolor"
                            stroke-width="2"
                            style="
                              stroke-dasharray: 106, 108;
                              stroke-dashoffset: 0;
                            "></path>
                        </svg></div
                    ></span>
                  </h1>
                  <br>
                </div>
                <div class="carousel-title-box">
                  <h1> <!--style="font-size: 27px;margin:0 20px;text-align: left;"-->
               <!--     नमस्ते ! <br> हमारे हिंदी   
                    <span class="main-title"
                      > ऑनलाइन स्कूल 
                      <div class="highlighter">
                        <svg
                          width="100%"
                          height="100%"
                          viewBox="0 0 145 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M1.00016 15.2711C18.1407 8.34427 70.832 -1.93441 144.473 12.3652"
                            stroke="currentcolor"
                            stroke-width="4"
                            style="
                              stroke-dasharray: 146, 148;
                              stroke-dashoffset: 0;
                            "></path>
                          <path
                            d="M26.2943 14.0041C38.9177 9.44643 77.3772 3.50055 130.227 16.1786"
                            stroke="currentcolor"
                            stroke-width="2"
                            style="
                              stroke-dasharray: 106, 108;
                              stroke-dashoffset: 0;
                            "></path>
                        </svg></div
                    ></span>
                    <span> में आपका स्वागत है!</span>
                  </h1>
                  <br>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-second">
                <div class="carousel-subtitle-box">
                  <h2>When Skills improve; Career improves...</h2>
                </div>
                <div class="carousel-title-box">
                  <h1>
                    Language is not a Course; It is a

                    <span class="main-title"
                      >Practice
                      <div class="highlighter">
                        <svg
                          width="100%"
                          height="100%"
                          viewBox="0 0 145 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M1.00016 15.2711C18.1407 8.34427 70.832 -1.93441 144.473 12.3652"
                            stroke="currentcolor"
                            stroke-width="4"
                            style="
                              stroke-dasharray: 146, 148;
                              stroke-dashoffset: 0;
                            "></path>
                          <path
                            d="M26.2943 14.0041C38.9177 9.44643 77.3772 3.50055 130.227 16.1786"
                            stroke="currentcolor"
                            stroke-width="2"
                            style="
                              stroke-dasharray: 106, 108;
                              stroke-dashoffset: 0;
                            "></path>
                        </svg></div
                    ></span>
                  </h1>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-third">
                <div class="carousel-subtitle-box">
                  <h2>Practice Hindi with me daily for 20 minutes...</h2>
                </div>
                <div class="carousel-title-box">
                  <h1>
                    I will make you speak; It's my

                    <span class="main-title"
                      >Assurance
                      <div class="highlighter">
                        <svg
                          width="100%"
                          height="100%"
                          viewBox="0 0 145 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M1.00016 15.2711C18.1407 8.34427 70.832 -1.93441 144.473 12.3652"
                            stroke="currentcolor"
                            stroke-width="4"
                            style="
                              stroke-dasharray: 146, 148;
                              stroke-dashoffset: 0;
                            "></path>
                          <path
                            d="M26.2943 14.0041C38.9177 9.44643 77.3772 3.50055 130.227 16.1786"
                            stroke="currentcolor"
                            stroke-width="2"
                            style="
                              stroke-dasharray: 106, 108;
                              stroke-dashoffset: 0;
                            "></path>
                        </svg></div
                    ></span>
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev prev-btn"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <i class="fa-solid fa-chevron-left"></i>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next next-btn"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <i class="fa-solid fa-chevron-right"></i>
          <span class="visually-hidden">Next</span>
        </button>
      </div> -->

      <div class="p-5 d-flex justify-content-center slider_container">
        <!-- <iframe
        class="slider_video"
      [src]="sanitizedVideoUrl"
      frameborder="0"
      width=80%
      height="550px"
      allowfullscreen
      allow="autoplay; fullscreen; encrypted-media"
      title="Slider Video"
      >

        </iframe> -->

        <video #slider_video width=80% height="550px" class="slider_video" [src]="sanitizedVideoUrl" autoplay loop></video>
      </div>

      <!-- <div class="col-lg-6">
        <div class="banner_images">
          <video autoplay muted loop poster="../../../assets/images/veera-method.jpeg" width="600" height="500">
	  <source src="../../../assets/videos/welcome.mp4" type="video/mp4">
	  Your browser does not support the video tag.
	</video>
          <!-- <img src="assets/images/banner/tamil.png" alt="" class="tamil" />
          <img src="assets/images/banner/hindi.png" alt="shape" class="hindi" />
          <img src="assets/images/banner/english_1.png" alt="" class="english" /> -->

          <!-- <div class="experience" style="display:none">
            <div class="icon">
              <i class="fa-solid fa-people-group"></i>
            </div>
            <div class="info">
              <h4 class="h-text">15</h4>
              <span class="b-text">Years of Experience</span>
            </div>
          </div>
          <div class="methodology" style="display:none">
            <div class="icon">
              <i class="fa-solid fa-graduation-cap"></i>
            </div>
            <div class="info">
              <span class="head-text">Master in</span>
              <h4 class="body-text">Research Methodolgy</h4>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
