
<div class="chatpage-component">
  <div class="chat-row">
    <div class="mobile-chat-icon"  (click)="mobmenuactive_click()"><span class="material-icons">message</span></div>
    <div class="chat-left-section" [ngClass]="mobmenuactive ? '' : 'active'">
      <div class="input-group rounded mb-3 chat-search-section">
        <input
          type="search"
          class="form-control rounded"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
        />
        <span class="input-group-text border-0" id="search-addon">
          <span class="videocall-icon material-icons">search</span>
        </span>
      </div>

      <div
        data-mdb-perfect-scrollbar="true"
        style="position: relative; height: 200px"
      >
        <ul class="list-unstyled mb-0">
          <li class="chat-list-li"  (click)="hideDefaultcall()" *ngFor="let chatlist of chatlists" >
            <div class="d-flex flex-row">
              <div class="chat-usr-icon active">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="avatar"
                  class="d-flex align-self-center me-3"
                  width="60"
                />
                <span class="badge badge-dot live"></span>
              </div>
              <div class="pt-1">
                <p class="fw-bold mb-0 chat-username">Marie Horwitz</p>
                <p class="small text-muted">{{chatlist}}</p>
              </div>
            </div>
            <div class="pt-1">
              <p class="small text-muted mb-1">Just now</p>
              <div class="call-icon-section">
                <span class="calling-icon material-icons">call</span>
                <span class="material-icons videocall-icon">videocam</span>
              </div>
            </div>
          </li>
          </ul>
      </div>
    </div>

    <app-calldefault    
    [ngClass]="isFavorite ? 'success' : 'danger'" *ngIf="visible" class="w-100"></app-calldefault> 
    <app-calling  *ngIf="!visible" class="w-100"></app-calling> 
  </div>
</div>
