<!-- wistia-player.component.html
<div class="video-play-container" style="text-align: center">
  <div class="vimeo-video">
    <div
      class="wistia_embed wistia_async_ww9qaxbgno"
      style="height: 400px; width: 100%"
    >
      &nbsp;
    </div>

    <div *ngIf="transcriptText.length > 0" class="transcript-box">
      <p
        *ngFor="let line of transcriptText; let i = index"
        [class.highlight]="i === activeLineIndex"
      >
        {{ line }}
      </p>
    </div>
  </div>
</div>

 -->

<!-- dynamic-wistia-player.component.html -->
<div class="video-play-container" style="text-align: center">
  <div #playerContainer class="wistia-player-container"></div>
</div>
