
<section class="py-3">
  <div class="container">
    <div class="row">
      <h3 class="journey-title">
        Step-by-Step
        <span class="sub-title"
          >Guide
          <span class="journey-highlighter">
            <!-- <img class="img-fluid" src="assets/images/highlighter.png" alt="" /> -->
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 145 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.00016 15.2711C18.1407 8.34427 70.832 -1.93441 144.473 12.3652"
                stroke="currentcolor"
                stroke-width="4"
                style="stroke-dasharray: 146, 148; stroke-dashoffset: 0"
              ></path>
            </svg>
          </span>
        </span>
      </h3>
    </div>
  </div>
</section>
<section class=" mt-3 d-none">
  <div class="container">
    <div class="row">
      <div class="demo-video-wrapper">
        <div class="video-outer">
          <div class="video-thumbnail">
            <div class="thumbnail-lhs">
              <h2 class="text-box">
                This is how
                <span class="d-block text-uppercase thumb-title">veera's</span
                >magic method
                <span class="thumb-subtitle">works!</span>
              </h2>
              <button class="demo-btn">Do Not Skip or Miss</button>
            </div>
            <!-- <div class="thumbnail-center">
              <i class="fa-regular fa-circle-play" (click)="onClickPlay()"></i>
            </div>
            <div> -->
            <!-- <ng-container *ngIf="!isVideoPlaying; else videoPlayer">
                <div [innerHtml]="videPageVeeraImage" class="cursor-pointer"></div>
              </ng-container> -->
            <!-- <ng-template #videoPlayer> -->
            <!-- <div #vimeoPlayer></div> -->
            <!-- </ng-template> -->
            <!-- </div> -->
            <!-- <div [innerHtml]="videPageVeeraImage" class="cursor-pointer" *ngIf="!isVideoPlaying"></div> -->

            <!-- <div class="thumbnail-center" (click)="onClickPlayPause()">
              <i class="fa-regular" [ngClass]="isVideoPlaying ? 'fa-circle-pause' : 'fa-circle-play'"></i>
            </div> -->
            <!-- <div #vimeoPlayer></div> -->
          </div>
        </div>
        <div class="video-inner"></div>

        <video
          width="400"
          height="300"
          poster="../../../assets/images/veera-method.jpeg"
          controls
        >
          <source src="../../../assets/videos/demo.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid gx-0">
    <div class="row">
      <div class="d-flex justify-content-center mt-4">
   
      <video #guide_video autoplay muted loop class="guide_video" width=100% height="auto">
        <source src="assets/videos/VEERAS_MAGIC.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      </div>
    </div>
  </div>
</section>