<div class="segment_1">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6">
      <div class="container">
        <div class="card d-flex segment_1_content">
          <div class="card-header">
            <img src="/assets/images/voice_call_admin.png" alt="buffer" />
            <img
              src="/assets/images/play-button.png"
              alt=""
              class="overlay_icon"
            />
            <h3 class="text-center">Master</h3>
            <p>speaking...</p>
            <div class="voice_ass">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                viewBox="0 0 512 512"
                class="voice_ass_icon"
              >
                <path
                  fill="black"
                  d="M16 160h32v192H16zm360 0h32v192h-32zM104 88h32v328h-32zm184 8h32v320h-32zm176 0h32v320h-32zM192 16h32v480h-32z"
                />
              </svg>
              <span>tum long aaj keya jaa raa hai?</span>
            </div>
          </div>
          <div class="card-body">
            <img src="/assets/images/voice_call_admin.png" alt="buffer" />
            <h3 class="text-center">Learner</h3>
            <p>your Turn</p>
            <p>speaking...</p>
            <div class="voice_ass">
              <span>tum long aaj keya jaa raa hai?</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-4 segment_1_icon">
      <div class="icon1">
        <img src="/assets/images/mic.png" alt="" />
      </div>
      <div class="icon1">
        <img src="/assets/images/mic.png" alt="" />
      </div>
      <div class="icon1">
        <img src="/assets/images/mic.png" alt="" />
      </div>
      <div class="icon1">
        <img src="/assets/images/mic.png" alt="" />
      </div>
      <div class="icon1">
        <img src="/assets/images/mic.png" alt="" />
      </div>
    </div>
  </div>
</div>
