<div class="container">
  <div class="segment_1">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 col-12 pb-2">
        <div class="container">
          <div class="card d-flex segment_1_content">
            <div class="card-body">
              <div class="d-flex justify-content-center m-auto segment_1_img">
                <img
                  src="/assets/images/voice_call_admin.png"
                  alt=""
                  width="80px"
                  height="80px"
                />
                <span>Veera's</span>
              </div>
              <div class="d-flex justify-content-center m-auto pt-5">
                <div class="btn btn-bordered segment_1_button">Listen</div>
              </div>
              <div class="segment_1_voice m-auto mt-5">
                <p>
                  <span
                    ><img
                      src="/assets/images/mic.png"
                      alt=""
                      width="18px"
                      height="18px"
                  /></span>
                  kya tumane khaaya
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="container">
          <div class="card d-flex segment_1_content">
            <div class="card-body">
              <div class="d-flex justify-content-center m-auto segment_1_img">
                <span class="img_learner_bg"
                  ><img
                    src="/assets/images/cardsimg/practice.jpg"
                    alt=""
                    width="70px"
                    height="70px"
                    class="img_learner"
                /></span>
                <span>You</span>
              </div>
              <div class="d-flex justify-content-center m-auto pt-5">
                <div class="btn btn-bordered segment_1_button">Let's talk</div>
              </div>
              <div class="segment_1_voice m-auto mt-5">
                <p>
                  <span
                    ><img
                      src="/assets/images/mic.png"
                      alt=""
                      width="18px"
                      height="18px"
                  /></span>
                  kya tumane khaaya
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 col-10 segment_1_icon">
        <div class="segment_1_icon_overlay">
          <div class="btn icon1">
            <i class="ti ti-question-mark"></i>
          </div>
          <span>Try in Hindi</span>
        </div>
        <div class="segment_1_icon_overlay">
          <div class="btn icon1">
            <i class="ti ti-reload"></i>
          </div>
          <span>Retry</span>
        </div>
        <div class="segment_1_icon_overlay">
          <div class="btn icon1">
            <i class="ti ti-microphone"></i>
          </div>
          <span>Start</span>
        </div>
        <div class="segment_1_icon_overlay">
          <div class="btn icon1">
            <i class="ti ti-arrow-badge-right"></i>
          </div>
          <span>Next</span>
        </div>
      </div>
    </div>
  </div>
</div>

